- @title = "Color Names"
- @subnav = "<nav class='section-nav'></nav> "

/ Common HTML Elements
%section#color-names.element-group
  %h1.section-title Color Names
  %p.intro
    :markdown
      Sass (tktktk version) now includes all named color variables from tktktk:source

      This partial declares each one as a variable.
  %div.example
    %table
      %thead
        %tr
          %td
            Variable
          %td
            Value
      %tr
        %td
          $aliceblue
        %td.aliceblue
          aliceblue
      %tr
        %td
          $antiquewhite
        %td.antiquewhite
          antiquewhite
      %tr
        %td
          $aqua
        %td.aqua
          aqua
      %tr
        %td
          $aquamarine
        %td.aquamarine
          aquamarine
      %tr
        %td
          $azure
        %td.azure
          azure
      %tr
        %td
          $badass
        %td.badass
          \#bada55
      %tr
        %td
          $beige
        %td.beige
          beige
      %tr
        %td
          $bisque
        %td.bisque
          bisque
      %tr
        %td
          $black
        %td.black
          black
      %tr
        %td
          $blanchedalmond
        %td.blanchedalmond
          blanchedalmond
      %tr
        %td
          $blue
        %td.blue
          blue
      %tr
        %td
          $blueviolet
        %td.blueviolet
          blueviolet
      %tr
        %td
          $brown
        %td.brown
          brown
      %tr
        %td
          $burlywood
        %td.burlywood
          burlywood
      %tr
        %td
          $cadetblue
        %td.cadetblue
          cadetblue
      %tr
        %td
          $chartreuse
        %td.chartreuse
          chartreuse
      %tr
        %td
          $chocolate
        %td.chocolate
          chocolate
      %tr
        %td
          $coral
        %td.coral
          coral
      %tr
        %td
          $cornflowerblue
        %td.cornflowerblue
          cornflowerblue
      %tr
        %td
          $cornsilk
        %td.cornsilk
          cornsilk
      %tr
        %td
          $crimson
        %td.crimson
          crimson
      %tr
        %td
          $cyan
        %td.cyan
          cyan
      %tr
        %td
          $darkblue
        %td.darkblue
          darkblue
      %tr
        %td
          $darkcyan
        %td.darkcyan
          darkcyan
      %tr
        %td
          $darkgoldenrod
        %td.darkgoldenrod
          darkgoldenrod
      %tr
        %td
          $darkgray
        %td.darkgray
          darkgray
      %tr
        %td
          $darkgrey
        %td.darkgrey
          darkgrey
      %tr
        %td
          $darkgreen
        %td.darkgreen
          darkgreen
      %tr
        %td
          $darkkhaki
        %td.darkkhaki
          darkkhaki
      %tr
        %td
          $darkmagenta
        %td.darkmagenta
          darkmagenta
      %tr
        %td
          $darkolivegreen
        %td.darkolivegreen
          darkolivegreen
      %tr
        %td
          $darkorange
        %td.darkorange
          darkorange
      %tr
        %td
          $darkorchid
        %td.darkorchid
          darkorchid
      %tr
        %td
          $darkred
        %td.darkred
          darkred
      %tr
        %td
          $myred
        %td.myred
          \#b80000
      %tr
        %td
          $darksalmon
        %td.darksalmon
          darksalmon
      %tr
        %td
          $darkseagreen
        %td.darkseagreen
          darkseagreen
      %tr
        %td
          $darkslateblue
        %td.darkslateblue
          darkslateblue
      %tr
        %td
          $darkslategray
        %td.darkslategray
          darkslategray
      %tr
        %td
          $darkslategrey
        %td.darkslategrey
          darkslategrey
      %tr
        %td
          $darkturquoise
        %td.darkturquoise
          darkturquoise
      %tr
        %td
          $darkviolet
        %td.darkviolet
          darkviolet
      %tr
        %td
          $deeppink
        %td.deeppink
          deeppink
      %tr
        %td
          $deepskyblue
        %td.deepskyblue
          deepskyblue
      %tr
        %td
          $dimgray
        %td.dimgray
          dimgray
      %tr
        %td
          $dimgrey
        %td.dimgrey
          dimgrey
      %tr
        %td
          $dodgerblue
        %td.dodgerblue
          dodgerblue
      %tr
        %td
          $firebrick
        %td.firebrick
          firebrick
      %tr
        %td
          $floralwhite
        %td.floralwhite
          floralwhite
      %tr
        %td
          $forestgreen
        %td.forestgreen
          forestgreen
      %tr
        %td
          $fuchsia
        %td.fuchsia
          fuchsia
      %tr
        %td
          $gainsboro
        %td.gainsboro
          gainsboro
      %tr
        %td
          $ghostwhite
        %td.ghostwhite
          ghostwhite
      %tr
        %td
          $gold
        %td.gold
          gold
      %tr
        %td
          $goldenrod
        %td.goldenrod
          goldenrod
      %tr
        %td
          $gray
        %td.gray
          gray
      %tr
        %td
          $grey
        %td.grey
          gray
      %tr
        %td
          $green
        %td.green
          green
      %tr
        %td
          $greenyellow
        %td.greenyellow
          greenyellow
      %tr
        %td
          $honeydew
        %td.honeydew
          honeydew
      %tr
        %td
          $hotpink
        %td.hotpink
          hotpink
      %tr
        %td
          $indianred
        %td.indianred
          indianred
      %tr
        %td
          $indigo
        %td.indigo
          indigo
      %tr
        %td
          $ivory
        %td.ivory
          ivory
      %tr
        %td
          $khaki
        %td.khaki
          khaki
      %tr
        %td
          $lavender
        %td.lavender
          lavender
      %tr
        %td
          $lavenderblush
        %td.lavenderblush
          lavenderblush
      %tr
        %td
          $lawngreen
        %td.lawngreen
          lawngreen
      %tr
        %td
          $lemonchiffon
        %td.lemonchiffon
          lemonchiffon
      %tr
        %td
          $lightblue
        %td.lightblue
          lightblue
      %tr
        %td
          $lightcoral
        %td.lightcoral
          lightcoral
      %tr
        %td
          $lightcyan
        %td.lightcyan
          lightcyan
      %tr
        %td
          $lightgoldenrodyellow
        %td.lightgoldenrodyellow
          lightgoldenrodyellow
      %tr
        %td
          $lightgreen
        %td.lightgreen
          lightgreen
      %tr
        %td
          $lightgray
        %td.lightgray
          lightgray
      %tr
        %td
          $lightgrey
        %td.lightgrey
          lightgrey
      %tr
        %td
          $lightpink
        %td.lightpink
          lightpink
      %tr
        %td
          $lightsalmon
        %td.lightsalmon
          lightsalmon
      %tr
        %td
          $lightseagreen
        %td.lightseagreen
          lightseagreen
      %tr
        %td
          $lightskyblue
        %td.lightskyblue
          lightskyblue
      %tr
        %td
          $lightslategray
        %td.lightslategray
          lightslategray
      %tr
        %td
          $lightslategrey
        %td.lightslategrey
          lightslategrey
      %tr
        %td
          $lightsteelblue
        %td.lightsteelblue
          lightsteelblue
      %tr
        %td
          $lightyellow
        %td.lightyellow
          lightyellow
      %tr
        %td
          $lime
        %td.lime
          lime
      %tr
        %td
          $limegreen
        %td.limegreen
          limegreen
      %tr
        %td
          $linen
        %td.linen
          linen
      %tr
        %td
          $magenta
        %td.magenta
          magenta
      %tr
        %td
          $maroon
        %td.maroon
          maroon
      %tr
        %td
          $mediumaquamarine
        %td.mediumaquamarine
          mediumaquamarine
      %tr
        %td
          $mediumblue
        %td.mediumblue
          mediumblue
      %tr
        %td
          $mediumorchid
        %td.mediumorchid
          mediumorchid
      %tr
        %td
          $mediumpurple
        %td.mediumpurple
          mediumpurple
      %tr
        %td
          $mediumseagreen
        %td.mediumseagreen
          mediumseagreen
      %tr
        %td
          $mediumslateblue
        %td.mediumslateblue
          mediumslateblue
      %tr
        %td
          $mediumspringgreen
        %td.mediumspringgreen
          mediumspringgreen
      %tr
        %td
          $mediumturquoise
        %td.mediumturquoise
          mediumturquoise
      %tr
        %td
          $mediumvioletred
        %td.mediumvioletred
          mediumvioletred
      %tr
        %td
          $midnightblue
        %td.midnightblue
          midnightblue
      %tr
        %td
          $mintcream
        %td.mintcream
          mintcream
      %tr
        %td
          $mistyrose
        %td.mistyrose
          mistyrose
      %tr
        %td
          $moccasin
        %td.moccasin
          moccasin
      %tr
        %td
          $navajowhite
        %td.navajowhite
          navajowhite
      %tr
        %td
          $navy
        %td.navy
          navy
      %tr
        %td
          $oldlace
        %td.oldlace
          oldlace
      %tr
        %td
          $olive
        %td.olive
          olive
      %tr
        %td
          $olivedrab
        %td.olivedrab
          olivedrab
      %tr
        %td
          $orange
        %td.orange
          orange
      %tr
        %td
          $orangered
        %td.orangered
          orangered
      %tr
        %td
          $orchid
        %td.orchid
          orchid
      %tr
        %td
          $palegoldenrod
        %td.palegoldenrod
          palegoldenrod
      %tr
        %td
          $palegreen
        %td.palegreen
          palegreen
      %tr
        %td
          $paleturquoise
        %td.paleturquoise
          paleturquoise
      %tr
        %td
          $palevioletred
        %td.palevioletred
          palevioletred
      %tr
        %td
          $papayawhip
        %td.papayawhip
          papayawhip
      %tr
        %td
          $peachpuff
        %td.peachpuff
          peachpuff
      %tr
        %td
          $peru
        %td.peru
          peru
      %tr
        %td
          $pink
        %td.pink
          pink
      %tr
        %td
          $plum
        %td.plum
          plum
      %tr
        %td
          $powderblue
        %td.powderblue
          powderblue
      %tr
        %td
          $purple
        %td.purple
          purple
      %tr
        %td
          $red
        %td.red
          red
      %tr
        %td
          $rosybrown
        %td.rosybrown
          rosybrown
      %tr
        %td
          $royalblue
        %td.royalblue
          royalblue
      %tr
        %td
          $saddlebrown
        %td.saddlebrown
          saddlebrown
      %tr
        %td
          $salmon
        %td.salmon
          salmon
      %tr
        %td
          $sandybrown
        %td.sandybrown
          sandybrown
      %tr
        %td
          $seagreen
        %td.seagreen
          seagreen
      %tr
        %td
          $seashell
        %td.seashell
          seashell
      %tr
        %td
          $sienna
        %td.sienna
          sienna
      %tr
        %td
          $silver
        %td.silver
          silver
      %tr
        %td
          $skyblue
        %td.skyblue
          skyblue
      %tr
        %td
          $slateblue
        %td.slateblue
          slateblue
      %tr
        %td
          $slategray
        %td.slategray
          slategray
      %tr
        %td
          $slategrey
        %td.slategrey
          slategrey
      %tr
        %td
          $snow
        %td.snow
          snow
      %tr
        %td
          $springgreen
        %td.springgreen
          springgreen
      %tr
        %td
          $steelblue
        %td.steelblue
          steelblue
      %tr
        %td
          $tan
        %td.tan
          tan
      %tr
        %td
          $teal
        %td.teal
          teal
      %tr
        %td
          $thistle
        %td.thistle
          thistle
      %tr
        %td
          $tomato
        %td.tomato
          tomato
      %tr
        %td
          $turquoise
        %td.turquoise
          turquoise
      %tr
        %td
          $violet
        %td.violet
          violet
      %tr
        %td
          $wheat
        %td.wheat
          wheat
      %tr
        %td
          $white
        %td.white
          white
      %tr
        %td
          $whitesmoke
        %td.whitesmoke
          whitesmoke
      %tr
        %td
          $yellow
        %td.yellow
          yellow
      %tr
        %td
          $yellowgreen
        %td.yellowgreen
          yellowgreen
