%nav.kit-nav
  %h2
    Survival Kit
  %ul
    %li
      Variables
      %ul
        %li
          %a{:href => "/documentation/core/variables/color-names.html"} Color Names
        %li
          %a{:href => "/documentation/core/variables/helpers.html"} Helpers
    %li
      Extendables
      %ul
        %li
          %a{:href => "/documentation/core/extend/helpers.html"} Helpers
        %li
          %a{:href => "/documentation/core/extend/sticky-footer.html"} Sticky Footer
    %li
      Functions
      %ul
        %li
          %a{:href => "/documentation/core/functions/calculations.html"} Calculations
    %li
      Mixins
      %ul
        %li
          %a{:href => "/documentation/core/mixins/helpers.html"} Helpers
        %li
          %a{:href => "/documentation/core/mixins/layout.html"} Layout
        %li
          %a{:href => "/documentation/core/mixins/pseudo.html"} Pseudo
        %li
          %a{:href => "/documentation/core/mixins/typography.html"} Typography
        %li
          %a{:href => "/documentation/core/mixins/ui.html"} UI
    %li
      Reset
      %ul
        %li
          %a{:href => "/documentation/core/reset/reset.html"}
            Reset
  %h2
    Standard
    %ul
      %li
        %a{:href => "/documentation/installation.html"}
          Installation
      %li
        Sass / Scss Workflow
        %ul
          %li
            %a{:href => "/documentation/standard/imports.html"}
              Imports
          %li
            Variables
            %ul
              %li
                %a{:href => "/documentation/standard/variables/base.html"}
                  Base
              %li
                %a{:href => "/documentation/standard/variables/colors.html"}
                  Colors
              %li
                %a{:href => "/documentation/standard/variables/fonts.html"}
                  Fonts
          %li
            %a{:href => ""}
              Mixins
            %ul
              %li
                %a{:href => ""}
                  Custom
          %li
            %a{:href => ""}
              Extend
            %ul
              %li
                %a{:href => ""}
                  Helpers
              %li
                %a{:href => ""}
                  Typography
          %li
            %a{:href => ""}
              Base
            %ul
              %li
                %a{:href => ""}
                  Common
              %li
                %a{:href => ""}
                  Edits
              %li
                %a{:href => ""}
                  Font Face
              %li
                %a{:href => ""}
                  Form Defaults
              %li
                %a{:href => ""}
                  Headers
              %li
                %a{:href => ""}
                  Images
              %li
                %a{:href => ""}
                  Semantics
              %li
                %a{:href => ""}
                  Tables
          %li
            %a{:href => ""}
              Layout
            %ul
              %li
                %a{:href => ""}
                  Grids - Susy
          %li
            %a{:href => ""}
              UI Patterns
            %ul
              %li
                %a{:href => ""}
                  Common
              %li
                %a{:href => ""}
                  Drupal
          %li
            %a{:href => ""}
              Style Tiles
            %ul
              %li
                %a{:href => ""}
                  Tile Design
          %li
            %a{:href => ""}
              Media
            %ul
              %li
                %a{:href => ""}
                  Print
          %li
            %a{:href => ""}
              Your Design
      %li
        HTML
      %li
        Javascript

  %h2
    Drupal Theme
= @subnav
