%nav.kit-nav
  %ul
    %li
      %a{:href => "/documentation/variables.html"} Variables
      %ul
        %li
          %a{:href => "/documentation/variables/color-names.html"} Color Names
        %li
          %a{:href => "/documentation/variables/helpers.html"} Helpers
    %li
      %a{:href => "/documentation/extend.html"} Extendables
      %ul
        %li
          %a{:href => "/documentation/extend/helpers.html"} Helpers
        %li
          %a{:href => "/documentation/extend/sticky-footer.html"} Sticky Footer
= @subnav
