%nav.kit-nav
  %ul
    %li
      %a{:href => "/documentation/variables.html"} Variables
      %ul
        %li
          %a{:href => "/documentation/variables/color-names.html"} Color Names
        %li
          %a{:href => "/documentation/variables/helpers.html"} Helpers
    %li
      %a{:href => "/documentation/extend.html"} Extendables
      %ul
        %li
          %a{:href => "/documentation/extend/helpers.html"} Helpers
        %li
          %a{:href => "/documentation/extend/sticky-footer.html"} Sticky Footer
    %li
      %a{:href => "/documentation/functions.html"} Functions
      %ul
        %li
          %a{:href => "/documentation/functions/calculations.html"} Calculations
    %li
      %a{:href => "/documentation/mixins.html"} Mixins
      %ul
        %li
          %a{:href => "/documentation/mixins/helpers.html"} Helpers
        %li
          %a{:href => "/documentation/mixins/layout.html"} Layout
= @subnav
