/* The Coding Designer's Survival Kit
 * A framework for designing websites in the browser. 
 *
 * Much love to:
 * Sass, Compass, HTML5 Boilerplate, Modernizr, Formalize, and more
 *
 * Available at http://thecodingdesigner.com
 * twitter: http://twitter.com/canarymason */
/* ------------------------------------------------------------------------------------
 * ------------------------------------------------------------------------------------ */
/* This CSS was authored using Sass & Compass
 * Download the source files here: 
 * https://github.com/canarymason/The-Coding-Designers-Survival-Kit
 * Learn more about Sass & Compass at http://compass-style.org/   */
/* Links -------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------
 * ------------------------------------------------------------------------------------ */
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Typography -------------------------------------------------------------- */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.serif {
  font-family: Georgia, serif;
}

.sans {
  font-family: sans-serif;
}

.mono, pre, code, tt {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

.caps, .allcaps, .smallcaps {
  font-size: 0.9em;
  letter-spacing: 0.1em;
}

.headers, .h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
  font-family: sans-serif;
}

.allcaps {
  text-transform: uppercase;
}

.amp {
  font-family: Georgia, serif;
}

.smallcaps {
  font-variant: small-caps;
}

.dquo {
  margin-left: -0.5em;
  font-family: Georgia, serif;
}

/* Only use the fancy ampersand in <h#> tags */
/* Establish baseline rhythm
 * from compass/typography/_vertical_rhythm */
/* Body -------------------------------------------------------------- */
body {
  color: black;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
::-moz-selection {
  color: black;
  background: #ff69b4;
  text-shadow: none;
}

::selection {
  color: black;
  background: #ff69b4;
  text-shadow: none;
}

/* Links -------------------------------------------------------------- */
a {
  color: #ff69b4;
}
a:visited {
  color: #ff69b4;
}
a:hover {
  color: #69ffb4;
}
a:active {
  color: #69ffb4;
}

/* Headings -------------------------------------------------------------- */
.h1, h1 {
  font-size: 1em;
  line-height: 1.714em;
}

.h2, h2 {
  font-size: 1em;
  line-height: 1.714em;
}

.h3, h3 {
  font-size: 1em;
  line-height: 1.714em;
}

.h4, h4 {
  font-size: 1em;
  line-height: 1.714em;
}

.h5, h5 {
  font-size: 1em;
  line-height: 1.714em;
}

.h6, h6 {
  font-size: 1em;
  line-height: 1.714em;
}

/* Inline -------------------------------------------------------------- */
cite, em, dfn, address, i {
  font-style: italic;
}

strong, dfn, b {
  font-weight: bold;
}

sup, sub {
  font-size: smaller;
  line-height: 0;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

ins {
  text-decoration: none;
  border-bottom: 1px solid black;
}

del {
  text-decoration: line-through;
}

mark {
  background: red;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

q {
  font-style: italic;
  quotes: "“" "”";
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}
q em {
  font-style: normal;
}

/* Block -------------------------------------------------------------- */
p {
  margin-bottom: 1.714em;
}

pre {
  white-space: pre;
}

/* Lists -------------------------------------------------------------- */
/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
/* Images -------------------------------------------------------------- */
/* Forms -------------------------------------------------------------- */
.input_tiny {
  width: 50px;
}

.input_small {
  width: 100px;
}

.input_medium {
  width: 150px;
}

.input_large {
  width: 200px;
}

.input_xlarge {
  width: 250px;
}

.input_xxlarge {
  width: 300px;
}

.input_full {
  width: 100%;
}

.input_full_wrap {
  display: block;
  padding-right: 8px;
}

::-moz-focus-inner {
  border: 0;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input,
button,
select,
textarea {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  margin: 0;
  vertical-align: middle;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  -ms-border-radius: 11px;
  -khtml-border-radius: 11px;
  border-radius: 11px;
  background: #dddddd url(../images/button.png) repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: -ms-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 3px 10px 4px;
  text-shadow: white 0 1px 1px;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0px;
}

button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

button[disabled],
input[type="reset"][disabled],
input[type="submit"][disabled],
input[type="button"][disabled] {
  color: #888888;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  padding: 2px 3px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  height: 1.8em;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}

input.placeholder-text,
textarea.placeholder-text {
  color: #888888;
}

::-webkit-input-placeholder {
  color: #888888;
}

textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee;
  color: #888888;
}

button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  -moz-box-shadow: #0066ff 0 0 7px;
  -webkit-box-shadow: #0066ff 0 0 7px;
  box-shadow: #0066ff 0 0 7px;
  z-index: 1;
}

input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.is_webkit select {
  background-image: url(../images/select_arrow.gif);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}

textarea,
select[multiple] {
  height: auto;
}

select[multiple],
.is_webkit select[multiple] {
  background-image: none;
  padding: 0;
}

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
}

.ie6_button,
* html button {
  background: #dddddd url(../images/button.png) repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0px;
  overflow: visible;
  width: auto;
}

* html button {
  padding-top: 1px;
  padding-bottom: 1px;
}

.ie6_input,
* html textarea,
* html select {
  background: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top;
}

* html select {
  margin-top: 1px;
}

.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888;
}

.ie6_input_disabled {
  background: #eeeeee;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

/* LAYOUT -------------------------------------------------------------- */
/* SITE-WIDE DESIGN -------------------------------------------------------------- */
