/* The Coding Designer's Survival Kit
 * A framework for designing websites in the browser. 
 *
 * Much love to:
 * Sass, Compass, HTML5 Boilerplate, Modernizr, Formalize, and more
 *
 * Available at http://thecodingdesigner.com
 * twitter: http://twitter.com/canarymason */
/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* DEFINE THE GRID CONTAINER -------------------------------------------------------------- */
.container, #page {
  *zoom: 1;
  margin: auto;
  width: 984px;
  max-width: 100%;
}
.container:after, #page:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

.wireframe {
  outline: 1px dashed red;
}

/* Links -------------------------------------------------------------- */
/* Typography -------------------------------------------------------------- */
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* The following classes are for use with @extend. */
.serif, body {
  font-family: Georgia, serif;
}

.sans, .textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: sans-serif;
}

.mono, pre, code, tt, body.markup-elements article.element .example .markup + .show-source {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
}

.caps, .allcaps, caption, .smallcaps {
  letter-spacing: 0.1em;
}

.headers, h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

.allcaps, caption {
  text-transform: uppercase;
}

.amp {
  font-family: GoudyBookletter1911Regular, "Goudy Old Style", Baskerville, Palatino, Georgia, serif;
}

.smallcaps {
  font-variant: small-caps;
}

/* Body -------------------------------------------------------------- */
body {
  color: black;
  background: white;
}

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
::-moz-selection {
  color: black;
  background: #ff69b4;
  text-shadow: none;
}

::selection {
  color: black;
  background: #ff69b4;
  text-shadow: none;
}

/* Establish baseline rhythm
 * from compass/typography/_vertical_rhythm */
body {
  font-size: 87.5%;
  line-height: 1.714em;
}

html > body {
  font-size: 14px;
}

/* Links -------------------------------------------------------------- */
a {
  color: #ff69b4;
}
a:visited {
  color: #ff69b4;
}
a:hover {
  color: #69ffb4;
}
a:active {
  color: #69ffb4;
}
a {
  text-decoration: none;
  border-bottom: 1px solid #ff69b4;
}
a:visited {
  border-bottom-color: #ff69b4;
}
a:hover {
  border-bottom-color: #69ffb4;
}
a:active {
  border-bottom-color: #69ffb4;
}

/* Headings -------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 3.375em;
  line-height: 1.016em;
}

h2 {
  font-size: 2.963em;
  line-height: 1.157em;
}

h3 {
  font-size: 2.25em;
  line-height: 1.524em;
}

h4 {
  font-size: 1.975em;
  line-height: 1.736em;
}

h5 {
  font-size: 1.5em;
  line-height: 1.143em;
}

h6 {
  font-size: 1.317em;
  line-height: 1.302em;
}

/* Inline -------------------------------------------------------------- */
cite, em, dfn, address, i {
  font-style: italic;
}

strong, dfn, b {
  font-weight: bold;
}

sup, sub {
  font-size: smaller;
  line-height: 0;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

ins {
  text-decoration: none;
  border-bottom: 1px solid black;
}

del {
  text-decoration: line-through;
}

mark {
  background: red;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

small {
  font-size: 0.878em;
  line-height: 1.953em;
}

q {
  font-style: italic;
  quotes: "“" "”";
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}
q em {
  font-style: normal;
}

/* Block -------------------------------------------------------------- */
p {
  margin-bottom: 1.714em;
}

pre {
  margin: 1.714em;
  white-space: pre;
}

blockquote {
  margin: 1.714em 24px;
  font-style: italic;
  font-weight: 300;
}

/* Lists -------------------------------------------------------------- */
ol, ul, dl {
  margin-bottom: 1.714em;
  margin-left: 24px;
}

dl {
  margin-left: 0;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}
li ul {
  list-style-type: circle;
}

dt {
  margin-top: 1.714em;
  font-style: italic;
  color: black;
}
dt:first-of-type {
  margin-top: 0em;
}

dd {
  padding-left: 24px;
}

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
table {
  margin-bottom: 1.714em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}

table, td, th {
  vertical-align: top;
}

th, thead th {
  font-weight: bold;
}

th, td, caption {
  padding: 0.857em;
  text-align: left;
}

table, th {
  border-bottom-style: solid;
  border-bottom-width: 0.071em;
  padding-bottom: 0.786em;
  border-color: gray;
  border-style: dotted;
}

tr.even td {
  background-color: gray;
}

tfoot {
  font-weight: bold;
}

/* Forms -------------------------------------------------------------- */
.input_tiny {
  width: 50px;
}

.input_small {
  width: 100px;
}

.input_medium {
  width: 150px;
}

.input_large {
  width: 200px;
}

.input_xlarge {
  width: 250px;
}

.input_xxlarge {
  width: 300px;
}

.input_full {
  width: 100%;
}

.input_full_wrap {
  display: block;
  padding-right: 8px;
}

::-moz-focus-inner {
  border: 0;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input,
button,
select,
textarea {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  margin: 0;
  vertical-align: middle;
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  -ms-border-radius: 11px;
  -khtml-border-radius: 11px;
  border-radius: 11px;
  background: #dddddd url(../images/button.png) repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 3px 10px 4px;
  text-shadow: white 0 1px 1px;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0px;
}

button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

button[disabled],
input[type="reset"][disabled],
input[type="submit"][disabled],
input[type="button"][disabled] {
  color: #888888;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  padding: 2px 3px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  height: 1.8em;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}

input.placeholder-text,
textarea.placeholder-text {
  color: #888888;
}

::-webkit-input-placeholder {
  color: #888888;
}

textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee;
  color: #888888;
}

button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  -moz-box-shadow: #0066ff 0 0 7px;
  -webkit-box-shadow: #0066ff 0 0 7px;
  box-shadow: #0066ff 0 0 7px;
  z-index: 1;
}

input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.is_webkit select {
  background-image: url(../images/select_arrow.gif);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}

textarea,
select[multiple] {
  height: auto;
}

select[multiple],
.is_webkit select[multiple] {
  background-image: none;
  padding: 0;
}

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
}

.ie6_button,
* html button {
  background: #dddddd url(../images/button.png) repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0px;
  overflow: visible;
  width: auto;
}

* html button {
  padding-top: 1px;
  padding-bottom: 1px;
}

.ie6_input,
* html textarea,
* html select {
  background: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top;
}

* html select {
  margin-top: 1px;
}

.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888;
}

.ie6_input_disabled {
  background: #eeeeee;
}

fieldset {
  margin-bottom: 1.714em;
  border-style: solid;
  border-width: 0.071em;
  padding: 1.643em;
  border-color: black;
  border-style: dotted;
}

legend {
  padding: 0 0.25em;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

label {
  font-weight: bold;
  margin-right: 0.5em;
}

.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-size: 1em;
  line-height: 1.714em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  border-width: 1px;
  margin-bottom: 0.857em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 304px;
  max-width: 100%;
  margin-top: 0;
  border-color: black;
  height: 2.571;
}

textarea {
  height: 11.143;
}

input[type=search] {
  -webkit-appearance: none;
}
input[type=search]::-webkit-search-decoration {
  display: none;
}

button, input[type=button], input[type=submit] {
  width: auto;
  overflow: visible;
}

textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 304px;
}

input[type="radio"], input[type="checkbox"] {
  margin-left: 0.25em;
  margin-right: 0.25em;
}

textarea, input:not([type="radio"]) {
  max-width: 100%;
}

/* Images -------------------------------------------------------------- */
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}
img.left {
  float: left;
  margin: 12px 24px 12px 0;
}
img.right {
  float: right;
  margin: 12px 0 12px 24px;
}

body.markup-elements #page {
  *zoom: 1;
  margin: auto;
  width: 984px;
  max-width: 100%;
}
body.markup-elements #page:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
body.markup-elements h1.section-title {
  font-size: 2.25em;
  line-height: 1.524em;
  background-color: #d3d3d3;
  text-transform: uppercase;
  padding-left: 12px;
}
body.markup-elements h1.section-title a {
  color: black;
}
body.markup-elements h1.section-title a:visited {
  color: black;
}
body.markup-elements h1.section-title a:hover {
  color: #ff69b4;
}
body.markup-elements h1.section-title a:active {
  color: #ff69b4;
}
body.markup-elements h1.section-title a {
  text-decoration: none;
  border-bottom: 1px solid black;
}
body.markup-elements h1.section-title a:visited {
  border-bottom-color: black;
}
body.markup-elements h1.section-title a:hover {
  border-bottom-color: #ff69b4;
}
body.markup-elements h1.section-title a:active {
  border-bottom-color: #ff69b4;
}
body.markup-elements article.element {
  *zoom: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 24px;
  padding-bottom: 23px;
}
body.markup-elements article.element:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
body.markup-elements article.element:last-child {
  padding-bottom: 0;
  border-bottom-width: 0;
  margin-bottom: 0;
}
body.markup-elements article.element h2.element-title {
  font-size: 1em;
  line-height: 1.714em;
  background-color: gray;
  color: white;
  text-transform: uppercase;
  padding-left: 12px;
}
body.markup-elements article.element h2.element-title a {
  color: white;
}
body.markup-elements article.element h2.element-title a:visited {
  color: white;
}
body.markup-elements article.element h2.element-title a:hover {
  color: #ff69b4;
}
body.markup-elements article.element h2.element-title a:active {
  color: #ff69b4;
}
body.markup-elements article.element h2.element-title a {
  text-decoration: none;
  border-bottom: 1px solid white;
}
body.markup-elements article.element h2.element-title a:visited {
  border-bottom-color: white;
}
body.markup-elements article.element h2.element-title a:hover {
  border-bottom-color: #ff69b4;
}
body.markup-elements article.element h2.element-title a:active {
  border-bottom-color: #ff69b4;
}
body.markup-elements article.element .example {
  *zoom: 1;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  margin-bottom: 12px;
  padding-bottom: 11px;
  *zoom: 1;
}
body.markup-elements article.element .example:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
body.markup-elements article.element .example:last-child {
  padding-bottom: 0;
  border-bottom-width: 0;
  margin-bottom: 0;
}
body.markup-elements article.element .example:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
body.markup-elements article.element .example .markup {
  display: inline;
  float: left;
  width: 64.228%;
  margin-right: 2.439%;
}
body.markup-elements article.element .example .markup + .show-source {
  display: inline;
  float: right;
  width: 30.894%;
  margin-right: 0;
}
body.markup-elements article.element .example .markup + .show-source .show-hide {
  text-align: right;
}
body.markup-elements article.element .example .markup + .show-source + p {
  clear: both;
}

/* LAYOUT -------------------------------------------------------------- */
/* SITE-WIDE DESIGN -------------------------------------------------------------- */
