@charset "UTF-8";
/* Links -------------------------------------------------------------- */
/*html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 *v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
 *html5doctor.com/html-5-reset-stylesheet/ */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/boilerplate\/_boilerplate-reset\.sass}line{font-family:\000036}}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/boilerplate\/_boilerplate-reset\.sass}line{font-family:\0000315}}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/boilerplate\/_boilerplate-reset\.sass}line{font-family:\0000318}}
nav ul {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/boilerplate\/_boilerplate-reset\.sass}line{font-family:\0000321}}
blockquote, q {
  quotes: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/boilerplate\/_boilerplate-reset\.sass}line{font-family:\0000325}}
blockquote:before, blockquote:after {
  content: "";
  content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/boilerplate\/_boilerplate-reset\.sass}line{font-family:\0000330}}
q:before, q:after {
  content: "";
  content: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/boilerplate\/_boilerplate-reset\.sass}line{font-family:\0000334}}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/boilerplate\/_boilerplate-reset\.sass}line{font-family:\0000341}}
ins {
  background-color: red;
  color: black;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/boilerplate\/_boilerplate-reset\.sass}line{font-family:\0000346}}
mark {
  background-color: red;
  color: black;
  font-style: italic;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/boilerplate\/_boilerplate-reset\.sass}line{font-family:\0000352}}
del {
  text-decoration: line-through; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/boilerplate\/_boilerplate-reset\.sass}line{font-family:\0000355}}
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/boilerplate\/_boilerplate-reset\.sass}line{font-family:\0000361}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/boilerplate\/_boilerplate-reset\.sass}line{font-family:\0000365}}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/boilerplate\/_boilerplate-reset\.sass}line{font-family:\0000373}}
input, select {
  vertical-align: middle; }

/* END RESET CSS */
/* fonts.css from the YUI Library: developer.yahoo.com/yui/
 *   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages
 *
 *  There are three custom edits:
 *   * remove arial, helvetica from explicit font stack
 *   * we normalize monospace styles ourselves
 *   * table font-size is reset in the HTML5 reset above so there is no need to repeat */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/boilerplate\/_boilerplate-reset\.sass}line{font-family:\0000390}}
body {
  font-size: 87.5%;
  line-height: 1.231;
  *font-size: small; }

/* hack retained to preserve specificity */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/boilerplate\/_boilerplate-reset\.sass}line{font-family:\0000398}}
select, input, textarea, button {
  font: 99% sans-serif; }

/* normalize monospace sizing
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/boilerplate\/_boilerplate-reset\.sass}line{font-family:\00003104}}
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* always force a scrollbar in non-IE */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/boilerplate\/_boilerplate-reset\.sass}line{font-family:\00003110}}
html {
  overflow-y: scroll; }

/* Typography -------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\0000311}}
html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

/* The following classes are for use with @extend. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\0000316}}
.serif, body {
  font-family: Georgia, serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\0000319}}
.sans, .textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-family: sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\0000322}}
.mono, pre, code, tt {
  font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\0000325}}
.caps, .allcaps, caption, .smallcaps {
  letter-spacing: 0.1em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\0000328}}
.headers, h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\0000332}}
.allcaps, caption {
  text-transform: uppercase; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\0000336}}
.amp {
  font-family: GoudyBookletter1911Regular, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\0000339}}
.smallcaps {
  font-variant: small-caps; }

/* Body -------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\0000346}}
body {
  color: black;
  background: white; }

/* Selected Text -------------------------------------------------------------- */
/* -moz- must be declared separately */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\0000355}}
::-moz-selection {
  color: white;
  background: #7fff00;
  text-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\0000360}}
::selection {
  color: white;
  background: #7fff00;
  text-shadow: none; }

/* Links -------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/mixins\/_helpers\.sass}line{font-family:\000037}}
a {
  text-decoration: none;
  border-bottom: 1px solid #7fff00; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/mixins\/_helpers\.sass}line{font-family:\0000310}}
  a:link, a:visited {
    color: #7fff00; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/mixins\/_helpers\.sass}line{font-family:\0000312}}
  a:link, a:visited, a:hover, a:active {
    outline: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/mixins\/_helpers\.sass}line{font-family:\0000314}}
  a:focus, a:hover, a:active {
    color: #8000ff;
    text-decoration: none;
    border-bottom-color: #8000ff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/mixins\/_helpers\.sass}line{font-family:\0000319}}
  a:focus {
    outline: none; }

/* Headings -------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\0000372}}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\0000376}}
h1 {
  font-size: 3.375em;
  line-height: 1.016em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\0000379}}
h2 {
  font-size: 2.963em;
  line-height: 1.157em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\0000382}}
h3 {
  font-size: 2.25em;
  line-height: 1.524em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\0000385}}
h4 {
  font-size: 1.975em;
  line-height: 1.736em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\0000388}}
h5 {
  font-size: 1.5em;
  line-height: 1.143em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\0000391}}
h6 {
  font-size: 1.317em;
  line-height: 1.302em; }

/* Inline -------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\0000396}}
cite, em, dfn, address, i {
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\0000399}}
strong, dfn, b {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003102}}
sup, sub {
  font-size: smaller;
  line-height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003106}}
sup {
  vertical-align: super; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003109}}
sub {
  vertical-align: sub; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003112}}
abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003116}}
ins {
  text-decoration: none;
  border-bottom: 1px solid black; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003120}}
del {
  text-decoration: line-through; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003123}}
mark {
  background: red;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003128}}
small {
  font-size: 1.5em;
  line-height: 1.143em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003131}}
q {
  font-style: italic;
  quotes: "“" "”"; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003134}}
  q:before {
    content: open-quote; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003136}}
  q:after {
    content: close-quote; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003139}}
  q em {
    font-style: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003145}}
code {
  background: gray; }

/* Block -------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003150}}
p {
  margin-bottom: 1.714em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003153}}
pre {
  margin: 1.714em;
  white-space: pre; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003157}}
blockquote {
  margin: 1.714em 24px;
  font-style: italic;
  font-weight: 300; }

/* Lists -------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003165}}
ol, ul, dl {
  margin-bottom: 1.714em;
  margin-left: 24px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003169}}
dl {
  margin-left: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003172}}
ol {
  list-style: decimal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003175}}
ul {
  list-style: disc; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003177}}
  li ul {
    list-style-type: circle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003180}}
dt {
  margin-top: 1.714em;
  font-style: italic;
  color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003184}}
  dt:first-of-type {
    margin-top: 0em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003187}}
dd {
  padding-left: 24px; }

/* Tables -------------------------------------------------------------- */
/* tables still need 'cellspacing="0"' in the markup */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003194}}
table {
  margin-bottom: 1.714em;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003200}}
table, td, th {
  vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003203}}
th, thead th {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003206}}
th, td, caption {
  padding: 0.857em;
  text-align: left;
  font-weight: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003211}}
table, th {
  border-bottom-style: solid;
  border-bottom-width: 0.071em;
  padding-bottom: 0.786em;
  border-color: gray;
  border-style: dotted; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003217}}
tr.even td {
  background-color: gray; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003220}}
tfoot {
  font-size: 2.25em;
  line-height: 1.524em; }

/* Forms -------------------------------------------------------------- */
/* Forms -------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\000038}}
.input_tiny {
  width: 50px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\0000311}}
.input_small {
  width: 100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\0000314}}
.input_medium {
  width: 150px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\0000317}}
.input_large {
  width: 200px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\0000320}}
.input_xlarge {
  width: 250px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\0000323}}
.input_xxlarge {
  width: 300px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\0000326}}
.input_full {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\0000331}}
.input_full_wrap {
  display: block;
  padding-right: 8px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\0000338}}
::-moz-focus-inner {
  border: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\0000341}}
input[type="search"]::-webkit-search-decoration {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\0000344}}
input,
button,
select,
textarea {
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  margin: 0;
  vertical-align: middle; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\0000354}}
button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  -ms-border-radius: 11px;
  -khtml-border-radius: 11px;
  border-radius: 11px;
  background: #dddddd url(../images/button.png) repeat-x;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -moz-linear-gradient(top, #ffffff 0%, #dddddd 100%);
  background-image: linear-gradient(top, #ffffff 0%, #dddddd 100%);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 3px 10px 4px;
  text-shadow: white 0 1px 1px;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\0000377}}
button {
  *padding-top: 1px;
  *padding-bottom: 1px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\0000382}}
button[disabled],
input[type="reset"][disabled],
input[type="submit"][disabled],
input[type="button"][disabled] {
  color: #888888; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\0000388}}
textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  padding: 2px 3px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  height: 1.8em;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\00003125}}
input.placeholder-text,
textarea.placeholder-text {
  color: #888888; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\00003129}}
::-webkit-input-placeholder {
  color: #888888; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\00003132}}
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee;
  color: #888888; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\00003150}}
button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  -moz-box-shadow: #0066ff 0 0 7px;
  -webkit-box-shadow: #0066ff 0 0 7px;
  box-shadow: #0066ff 0 0 7px;
  z-index: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\00003165}}
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\00003173}}
.is_webkit select {
  background-image: url(../images/select_arrow.gif);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\00003181}}
textarea,
select[multiple] {
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\00003185}}
select[multiple],
.is_webkit select[multiple] {
  background-image: none;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\00003190}}
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\00003196}}
optgroup {
  color: black;
  font-style: normal;
  font-weight: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\00003224}}
.ie6_button,
* html button {
  background: #dddddd url(../images/button.png) repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0px;
  overflow: visible;
  width: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\00003236}}
* html button {
  padding-top: 1px;
  padding-bottom: 1px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\00003240}}
.ie6_input,
* html textarea,
* html select {
  background: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\00003252}}
* html select {
  margin-top: 1px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\00003255}}
.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_formalize\.sass}line{font-family:\00003260}}
.ie6_input_disabled {
  background: #eeeeee; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_form-defaults\.sass}line{font-family:\000038}}
fieldset {
  margin-bottom: 1.714em;
  border-style: solid;
  border-width: 0.071em;
  padding: 1.643em;
  border-color: black;
  border-style: dotted; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_form-defaults\.sass}line{font-family:\0000314}}
legend {
  padding: 0 0.25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_form-defaults\.sass}line{font-family:\0000317}}
label, input[type=button], input[type=submit], button {
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_form-defaults\.sass}line{font-family:\0000320}}
label {
  font-weight: bold;
  margin-right: 0.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_form-defaults\.sass}line{font-family:\0000324}}
.textinput, textarea, input[type=text], input[type=password], input[type=email], input[type=url], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=week], input[type=time], input[type=number], input[type=range], input[type=search], input[type=color] {
  font-size: 1em;
  line-height: 1.714em;
  border-style: solid;
  border-width: 0.071em;
  padding: 0.357em;
  border-width: 1px;
  margin-bottom: 0.857em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 304px;
  max-width: 100%;
  margin-top: 0;
  border-color: black;
  height: 2.571; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_form-defaults\.sass}line{font-family:\0000337}}
textarea {
  height: 11.143; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_form-defaults\.sass}line{font-family:\0000347}}
input[type=search] {
  -webkit-appearance: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_form-defaults\.sass}line{font-family:\0000349}}
  input[type=search]::-webkit-search-decoration {
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_form-defaults\.sass}line{font-family:\0000352}}
button, input[type=button], input[type=submit] {
  width: auto;
  overflow: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_form-defaults\.sass}line{font-family:\0000357}}
textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 304px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_form-defaults\.sass}line{font-family:\0000362}}
input[type="radio"], input[type="checkbox"] {
  margin-left: 0.25em;
  margin-right: 0.25em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/forms\/_form-defaults\.sass}line{font-family:\0000366}}
textarea, input:not([type="radio"]) {
  max-width: 100%; }

/* Images -------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003234}}
img {
  vertical-align: text-bottom;
  max-width: 100%;
  -ms-interpolation-mode: bicubic; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003238}}
  img.left {
    float: left;
    margin: 12px 24px 12px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/_defaults\.sass}line{font-family:\00003241}}
  img.right {
    float: right;
    margin: 12px 0 12px 24px; }

/* Drupal -------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\000032}}
ul.pager {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/lists\/_horizontal-list\.scss}line{font-family:\0000356}}
  ul.pager li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 12px;
    padding-right: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/lists\/_horizontal-list\.scss}line{font-family:\0000345}}
    ul.pager li:first-child, ul.pager li.first {
      padding-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/lists\/_horizontal-list\.scss}line{font-family:\0000346}}
    ul.pager li:last-child, ul.pager li.last {
      padding-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\000035}}
  ul.pager li.pager-current {
    font-weight: 700; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\000037}}
  ul.pager li a {
    border-bottom-style: dotted; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\0000311}}
ul.tabs {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/lists\/_horizontal-list\.scss}line{font-family:\0000356}}
  ul.tabs li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 0;
    padding-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/lists\/_horizontal-list\.scss}line{font-family:\0000345}}
    ul.tabs li:first-child, ul.tabs li.first {
      padding-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/lists\/_horizontal-list\.scss}line{font-family:\0000346}}
    ul.tabs li:last-child, ul.tabs li.last {
      padding-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\0000314}}
  ul.tabs li {
    border: 1px solid black;
    border-bottom-width: 0;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    -ms-border-top-left-radius: 5px;
    -khtml-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -khtml-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: gray; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\0000319}}
    ul.tabs li:first-child, ul.tabs li.first {
      margin-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\0000321}}
    ul.tabs li:last-child, ul.tabs li.last {
      margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\0000323}}
    ul.tabs li.active {
      background-color: #7fff00; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\0000325}}
    ul.tabs li a {
      margin: 0 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\0000327}}
    ul.tabs li a {
      border-bottom-width: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\0000329}}
      ul.tabs li a:link, ul.tabs li a:visited {
        color: #7fff00; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\0000331}}
      ul.tabs li a:focus, ul.tabs li a:hover, ul.tabs li a:active {
        border-bottom-width: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\0000336}}
#user-login-form .item-list ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/lists\/_horizontal-list\.scss}line{font-family:\0000356}}
  #user-login-form .item-list ul li {
    list-style-image: none;
    list-style-type: none;
    margin-left: 0px;
    white-space: nowrap;
    display: inline;
    float: left;
    padding-left: 4px;
    padding-right: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/lists\/_horizontal-list\.scss}line{font-family:\0000345}}
    #user-login-form .item-list ul li:first-child, #user-login-form .item-list ul li.first {
      padding-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/lists\/_horizontal-list\.scss}line{font-family:\0000346}}
    #user-login-form .item-list ul li:last-child, #user-login-form .item-list ul li.last {
      padding-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\0000340}}
.messages, .status, .warning, .error {
  margin: 11px 24px;
  border: 1px solid black;
  padding: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\0000344}}
  .messages p:last-of-type, .status p:last-of-type, .warning p:last-of-type, .error p:last-of-type {
    margin-bottom: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\0000348}}
.status {
  border-color: #004000;
  background-color: green;
  color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\0000352}}
.warning {
  border-color: #7f7f00;
  background-color: yellow; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\0000356}}
.error {
  border-color: #004000;
  background-color: red;
  color: white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\0000361}}
.node {
  margin-bottom: 48px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\0000366}}
#comments .comment {
  *zoom: 1;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000322}}
  #comments .comment:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/mixins\/_helpers\.sass}line{font-family:\0000355}}
  #comments .comment:last-child {
    padding-bottom: 0;
    border-bottom-width: 0;
    margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\0000368}}
  #comments .comment .submitted {
    font-size: 1.5em;
    line-height: 1.143em;
    color: gray;
    font-style: italic; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\0000373}}
  #comments .comment .content p:last-of-type {
    margin-bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\0000375}}
  #comments .comment ul.links {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    overflow: hidden;
    *zoom: 1;
    font-size: 1.5em;
    line-height: 1.143em; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/lists\/_horizontal-list\.scss}line{font-family:\0000356}}
    #comments .comment ul.links li {
      list-style-image: none;
      list-style-type: none;
      margin-left: 0px;
      white-space: nowrap;
      display: inline;
      float: left;
      padding-left: 4px;
      padding-right: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/lists\/_horizontal-list\.scss}line{font-family:\0000345}}
      #comments .comment ul.links li:first-child, #comments .comment ul.links li.first {
        padding-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/lists\/_horizontal-list\.scss}line{font-family:\0000346}}
      #comments .comment ul.links li:last-child, #comments .comment ul.links li.last {
        padding-right: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/cms\/drupal\/_drupal\.sass}line{font-family:\0000380}}
.terms-inline ul {
  list-style-type: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/lists\/_inline-list\.scss}line{font-family:\000035}}
  .terms-inline ul, .terms-inline ul li {
    margin: 0px;
    padding: 0px;
    display: inline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/lists\/_inline-list\.scss}line{font-family:\0000324}}
  .terms-inline ul li:after {
    content: ", "; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/lists\/_inline-list\.scss}line{font-family:\0000326}}
  .terms-inline ul li:last-child:after, .terms-inline ul li.last:after {
    content: ""; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/grids\/_grids_susy\.sass}line{font-family:\000034}}
.container, body #container {
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  width: 984px;
  max-width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-0\.10\.6\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000322}}
  .container:after, body #container:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/grids\/_grids_susy\.sass}line{font-family:\000038}}
.wireframe {
  outline: 1px dashed red; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-susy-plugin-0\.8\.1\/sass\/susy\/_vertical_rhythm\.scss}line{font-family:\0000329}}
body {
  font-size: 87.5%;
  line-height: 1.714em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/1\.8\/gems\/compass-susy-plugin-0\.8\.1\/sass\/susy\/_vertical_rhythm\.scss}line{font-family:\0000333}}
html > body {
  font-size: 14px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mason\/www\/coding_designer\/css\/src\/partials\/grids\/_grids_susy\.sass}line{font-family:\0000319}}
body #container > header, body #container > #main, body #container > footer {
  clear: both;
  margin-right: 1.22%;
  margin-left: 1.22%; }

/* Non-grid Layout and styling -------------------------------------------------------------- */
