// GENERIC 


// Dimensions
// basic values, independant of any css framework
$baseline: 24px
$baseline_half: $baseline * 0.5
$baseline_neg: $baseline * -1
$gutter: 24px
$gutter_half: $gutter * 0.5 
$gutter_neg: $gutter * -1


// --- Modular SCALE (used by _defaults.sass) -----------
$ms-5: 7px
$ms-4: 8px
$ms-3: 9px
$ms-2: 10px
$ms-1: 12px
$ms0: 14px
$ms1: 16px 
$ms2: 18px
$ms3: 24px
$ms4: 27px
$ms5: 30px
$ms6: 36px
$ms7: 48px
$ms8: 56px
$ms9: 64px
$ms10: 72px
$base-font-size: $ms0


