// DEFAULT COLORS
// import all the named css colors as variables
@import color_names 

// PROJECT COLORS
// define your own here
// $dark_gray: mix($white, $black, 30%)
// $light_gray: mix($white, $black, 80%)
// $very_light_gray: mix($white, $black, 95%)

// COLOR SCHEMES
// experimental math-generated color schemes
// define a primary color to base these on
$primary: $white
@import color_schemes



// Color variables expected by _defaults.sass ------------------
$base-color: $black
$alt-color: $hotpink
$background-color: $white