// @import font_face

$font-sans: unquote("sans-serif")  
$font-serifs: unquote("Georgia, serif")
$font-headline: $font-sans
$font-mono: unquote("Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif")

// special use font stacks
// ampersands
$font-amp: "GoudyBookletter1911Regular","goudy-bookletter-1911-1","goudy-bookletter-1911-2"
// CAPS
$font_cap: $font-sans         


// --- FONT SCALE (used by _defaults.sass) -----------
$fs1: 10px
$fs2: 12px
$fs3: 14px
$fs4: 16px 
$fs5: 18px
$fs6: 24px
$fs7: 27px
$fs8: 30px
$fs9: 36px
$fs10: 48px
$base-font-size: $fs3