- @title = "Drupal"


/ Drupal
%section#mixins.element-group
  %h1.section-title Drupal
  %p.intro
    :markdown
      Drupal UI Patterns

      Add your own styles as needed. See elements-ui-patterns-drupal.html for markup

  / %div#default-font-stacks.element
  /   %h2.element-title
  /     %a.permalink{:href => "#default-font-stacks"}
  /       Default Font Stacks
  /   .extendable-source
  /     / .comment
  /     /   :markdown
  /     /     - accepted values: 'meyer' (default
  /     %pre.scss
  /       :preserve
  /         $font-sans: sans-serif;
  /         $font-serifs: Georgia, serif;
  /         $font-mono: Consolas, Menlo, "Courier New", monospace, monospace;
