%div#lists.element
  %h2.element-title Lists
  .markup
    %h3 Unordered List
    %ul
      %li Apple
      %li Pear
      %li Banana
      %li Orange
      %li Carrot
  .markup
    %h3 Ordered List
    %ol
      %li First
      %li Second
      %li Third
      %li Fourth
  .markup
    %h3 Definition List
    %dl
      %dt Definition List Title
      %dd This is a definition list division.
      %dt Inkscape
      %dd Open Source vector graphics editor
      %dt SVG
      %dd Scalable Vector Graphics
      %dd W3C standard
      %dt GIMP
      %dd GNU Image Manipulation Program
      %dt Drupal
      %dd Content Management System
  .markup
    %h3 Nested lists
    %ol
      %li
        one, two
        %ol
          %li buckle my shoe
      %li
        three, four
        %ol
          %li knock at the door
      %li
        Five, six
        %ol
          %li pick up sticks
      %li
        Seven, eight, lay them straight
        %ol
          %li Nine, ten, a big fat hen
          %li Eleven, twelve, dig and delve
          %li Thirteen, fourteen, maids a’courting
          %li Fifteen, sixteen, maids in the kitchen
          %li Seventeen, eighteen, maids a’waiting
          %li Nineteen, twenty, my platter’s empty …
