%div#samp.element
  %h2.element-title samp
  .markup
    %p
      Defines computer output data, for example we can use it to markup error messages.
      %br
        Sample:
        %samp Error: no such file or directory
