%article#inline-images.element
  %h2.element-title Inline Images
  .markup
    %p
      %img.left{:alt => "image floated left", :src => "http://dummyimage.com/240x320/000/fff&text=Left+Image"}>/
      Who would think, then, that such fine ladies and gentlemen should regale themselves with an essence found in the inglorious bowels of a sick whale! Yet so it is. By some, ambergris is supposed to be the cause, and by others the effect, of the dyspepsia in the whale. How to cure such a dyspepsia it were hard to say, unless by administering three or four boat loads of Brandreth's pills, and then running out of harm's way, as laborers do in blasting rocks.
    %p
      %img.right{:alt => "image floated right", :src => "http://dummyimage.com/240x320/000/fff&text=Right+Image"}>/
      I have forgotten to say that there were found in this ambergris, certain hard, round, bony plates, which at first Stubb thought might be sailors' trowsers buttons; but it afterwards turned out that they were nothing more than pieces of small squid bones embalmed in that manner.