%article#menu.element
  %h2.element-title Menus
  .markup
    %ul#main-menu.links.inline.clearfix
      %li.menu-201.first
        %a{:href => "/"} Home
      %li.menu-365.active-trail.active
        %a.active-trail.active{:href => "/blog", :title => "Blog"} Blog
      %li.menu-366.last
        %a{:href => "/my-page", :title => "My Page"} My Page