%div#form-button-el.element
  %h2.element-title Form, Button
  .markup
    %form#styleguide-form--3{"accept-charset" => "UTF-8", :action => "#", :method => "post"}
      %div
        %input#edit-button.form-submit{:name => "op", :type => "submit", :value => "Button"}/
        %input{:name => "form_build_id", :type => "hidden", :value => "form-b0QLOJq3TiHtz9tcQQJplikA4r0lj4SeF4_0AfuMMT8"}/
        %input{:name => "form_token", :type => "hidden", :value => "JgHDsNA3K2wOnE1ML25JvEfxbCUwElNU2YFSdWy0Ivk"}/
        %input{:name => "form_id", :type => "hidden", :value => "styleguide_form"}/
