%div#menu-tree-el.element
  %h2.element-title Menu Tree
  .markup
    %ul.menu
      %li.first.last.expanded.active-trail
        %a.active-trail{:href => "/admin"} Administration
        %ul.menu
          %li.first.collapsed
            %a{:href => "/admin/content", :title => "Administer content and comments."} Content
          %li.collapsed
            %a{:href => "/admin/structure", :title => "Administer blocks, content types, menus, etc."} Structure
          %li.expanded.active-trail
            %a.active-trail{:href => "/admin/appearance", :title => "Select and configure your themes."} Appearance
            %ul.menu
              %li.first.last.leaf.active-trail
                %a.active-trail.active{:href => "/admin/appearance/styleguide"} Style guide
          %li.leaf
            %a{:href => "/admin/people", :title => "Manage user accounts, roles, and permissions."} People
          %li.leaf
            %a{:href => "/admin/modules", :title => "Extend site functionality."} Modules
          %li.collapsed
            %a{:href => "/admin/config", :title => "Administer settings."} Configuration
          %li.collapsed
            %a{:href => "/admin/reports", :title => "View reports, updates, and errors."} Reports
          %li.last.leaf
            %a{:href => "/admin/help", :title => "Reference for usage, configuration, and modules."} Help
