%div#block.element
  %h2.element-title Block
  .markup
    #block-block-1.block.block-block
      %h2 This is a Custom Block
      .content
        %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede.
