%article#links.element
  %h2.element-title Inline Links
  .markup
    %ul.links.inline
      %li.comment-add.first.last.active
        %a.active{:href => "/node/1#comment-form", :title => "Share your thoughts and opinions related to this posting."} Add new comment