%div#drupal-messages.element
  %h2.element-title Messages
  .markup
    .messages.status
      %h2.element-invisible{:style => "display: none;"} Status message
      %p
        This is
        %em status
        message.
    .messages.warning
      %h2.element-invisible{:style => "display: none;"} Status message
      %p
        This is
        %em warning
        message.
    .messages.error
      %h2.element-invisible{:style => "display: none;"} Status message
      %p
        This is
        %em error
        message.
