// Links --------------------------------------------------------------
// replace underlines on links with bottom borders
@mixin underline-links($normal, $hover: false, $active: false, $visited: false, $focus: false) {
  & {
    text-decoration: none;
    border-bottom: 1px solid $normal;
    @if $visited {
      &:visited {
        border-bottom-color: $visited;
      }
    }
    @if $focus {
      &:focus {
        border-bottom-color: $focus;
      }
    }
    @if $hover {
      &:hover {
        border-bottom-color: $hover;
      }
    }
    @if $active {
      &:active {
        border-bottom-color: $active;
      }
    }
  }
}

@mixin undo-underline-links {
  & {
    text-decoration: none;
    // border-bottom: inherit
    border-bottom-style: inherit;
    &:visited {
      border-bottom-color: inherit;
    }
    &:focus {
      border-bottom-color: inherit;
    }
    &:hover {
      border-bottom-color: inherit;
    }
    &:active {
      border-bottom-color: inherit;
    }
  }
}

// fade between default and hover colors
@mixin link-transitions($time: 0.5s, $easing: "ease-out", $property: "all") {
  @include transition($property, $time, $easing);
}

// remove bottom borders from better links
// call directly from an <a> element
// (needed when linking an <img/> for example)
@mixin remove-link-underlines {
  & {
    border-bottom: none;
    &:hover {
      border-bottom: none;
    }
  }
}

// Only use the fancy ampersand in <h#> tags */
@mixin header-ampersands {
  h1 .amp, h2 .amp, h3 .amp, h4 .amp, h5 .amp, h6 .amp {
    font-size: 1em;
    font-family: $font-amp;
    font-style: italic;
  }
}

// text-overflow
@mixin text-overflow($method: ellipsis) {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: $method;
  text-overflow: $method;
  .ie & {
    width: 100%;
  }
}

// replace OL > LI numbers so they can be styled
@mixin replace-list-numbers {
  counter-reset: li;
  list-style-type: none;
  li {
    &:before {
      content: counter(li) ". ";
      counter-increment: li;
    }
  }
}
