// experimental - depends on Sass 3.2 or higher
  define your own breakpoints
  styles nested in the mixin will pass thru in @content
  resist the urge to settle on common device sizes
  http://marcdrummond.com/responsive-web-design/2011/12/29/default-breakpoints-are-dead

  USAGE:
  .some-class
    color: red
    +respond-to(handhelds)
      color: green

=respond-to($media)
  @if $media == handhelds
    @media only screen and (max-width: 320px)
      @debug 'you still need to define the proper width'
      @content
  @else if $media == medium-screens
    @media only screen and (min-width: 321px) and (max-width: 1024px)
      @debug 'you still need to define the proper width'
      @content
  @else if $media == wide-screens
    @media only screen and (min-width: 1200px) and (max-width: 1635px)
      @content
  @else if $media == superwide-screens
    @media only screen and (min-width: 1635px)
      @content
