// see: elements-ui-patterns.html for markup

// MESSAGES
.messages {
  border: 1px solid $base-color;
  padding: $kit-baseline-half 0.5em;
  p:last-child {
    margin-bottom: 0; } }

.status, .warning, .error {
  @extend .messages; }

.status {
  border-color: $green;
  color: $green; }

.warning {
  border-color: $orange;
  color: $orange; }

.error {
  border-color: $red;
  color: $red; }

// PAGERS
ul.pager {
  @include horizontal-list(0.5em);
  a {
    @include remove-link-underlines; } }
