// styles meant to assist while designing markup conventions 
// in elements.html, elements-drupal.html

body.markup-elements
  h1.section-title
    // @extend h2
    +adjust-font-size-to($ms4)
    background-color: $lightgray
    // color: $darkgray
    text-transform: uppercase
    padding-left: $gutter_half
    +better-links($black, $alt-color, $black, $alt-color)
  article.element
    +vertical-separation($baseline * 2, 1px, transparentize($base-color, 0.9))
    h2.element-title
      +adjust-font-size-to($ms0)
      background-color: $gray
      color: $white
      text-transform: uppercase
      padding-left: $gutter_half
      +better-links($white, $alt-color, $white, $alt-color)
      // & + p
      //   clear: both
    .example
      +vertical-separation($baseline, 1px, transparentize($base-color, 0.9), dashed)
      +pie-clearfix
      .markup
        +columns(4)
        & + .show-source
          +columns(2)
          +omega(6)
          @extend .mono
          .show-hide
            text-align: right
          & + p
            clear: both