- @title = "Mixins → Helpers"
- @subnav = "<nav class='section-nav'></nav> "

/ Helpers
%section#helpers.element-group
  %h1.section-title Helpers
  %p.intro
    :markdown
      Mixins that help.
  %div.example
    %h3.mixin
      %a.permalink{:href => "#mixin-hidden"}
        :preserve
          hidden
    #mixin-hidden.extendable-source
      %pre.scss
        :preserve
          @mixin hidden {
            display: none !important;
            visibility: hidden;
          }
  %div.example
    %h3.mixin
      %a.permalink{:href => "#mixin-visually-hidden"}
        :preserve
          visuallyhidden
    #mixin-visually-hidden.extendable-source
      %pre.scss
        :preserve
          @mixin visuallyhidden($focusable: false) {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
            @if $focusable {
              &:active, &:focus {
                clip: auto;
                height: auto;
                margin: 0;
                overflow: visible;
                position: static;
                width: auto;
              }
            }
          }
  %div.example
    %h3.mixin
      %a.permalink{:href => "#mixin-invisible"}
        :preserve
          invisible
    #mixin-invisible.extendable-source
      %pre.scss
        :preserve
          @mixin invisible {
            visibility: hidden;
          }
  %div.example
    %h3.mixin
      %a.permalink{:href => "#mixin-scale-image-ie"}
        :preserve
          scale-image-ie
    #mixin-scale-image-ie.extendable-source
      %pre.scss
        :preserve
          @mixin scale-image-ie($image) {
            background: none;
            filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="\#{image_url($image, true, false)}",  sizingMethod="scale");
          }
  %div.example
    %h3.mixin
      %a.permalink{:href => "#mixin-kit-clearfix"}
        :preserve
          kit-clearfix
    #mixin-kit-clearfix.extendable-source
      %pre.scss
        :preserve
          @mixin kit-clearfix {
            &:after {
              content: $space;
              display: table;
              clear: both;
            }
            zoom: 1;
          }
  %div.example
    %h3.mixin
      %a.permalink{:href => "#mixin-accessible-color"}
        :preserve
          accessible-color
    #mixin-accessible-color.extendable-source
      %pre.scss
        :preserve
          @mixin accessible-color($background: $white) {
            @if lightness($background) >= 65% {
              color: $text-color;
            }
            @else {
              color: white;
            }
          }
  %div.example
    %h3.mixin
      %a.permalink{:href => "#mixin-clean-list"}
        :preserve
          clean-list
    #mixin-clean-list.extendable-source
      %pre.scss
        :preserve
          @mixin clean-list {
            @include no-bullets;
            margin-left: 0;
            padding-left: 0;
          }
  %div.example
    %h3.mixin
      %a.permalink{:href => "#mixin-susy-grid-backgrounds"}
        :preserve
          susy-grid-backgrounds
    #mixin-susy-grid-backgrounds.extendable-source
      %pre.scss
        :preserve
          @mixin susy-grid-backgrounds {
            @if $show-grid and $show-baseline {
              @include susy-grid-background-baseline;
            }
            @else if $show-grid {
              @include susy-grid-background;
            }
            @else if $show-baseline {
              @include baseline-grid-background;
            }
          }
  %div.example
    %h3.mixin
      %a.permalink{:href => "#mixin-susy-grid-background-baseline"}
        :preserve
          susy-grid-background-baseline
    #mixin-susy-grid-background-baseline.extendable-source
      %pre.scss
        :preserve
          @mixin susy-grid-background-baseline {
            @include grid-background($total-columns, $column-width, $gutter-width, $base-line-height, $column-width * 0, $grid-background-column-color, $grid-background-gutter-color, $grid-background-baseline-color, $force_fluid: true);
            @include background-origin(content-box);
            @include background-clip(content-box);
          }



