- @title = "Extendables → Helpers"
- @subnav = "<nav class='section-nav'></nav> "

/ Helpers
%section#helpers.element-group
  %h1.section-title Helpers
  %p.intro
    :markdown
      Mixins that help.
  %div.example
    %h3.mixin
      %a.permalink{:href => "#mixin-hidden"}
        :preserve
          =hidden
    #mixin-hidden.extendable-source
      %pre
        :preserve
          =hidden
            display: none !important
            visibility: hidden
  %div.example
    %h3.mixin
      %a.permalink{:href => "#mixin-clearfix"}
        :preserve
          .clearfix
    #mixin-clearfix.extendable-source
      %pre
        :preserve
          .clearfix
            @extend %clearfix
  %div.example
    %h3.mixin
      %a.permalink{:href => "#mixin-hidden-hidden"}
        :preserve
          %hidden
    #mixin-hidden-hidden.extendable-source
      %pre
        :preserve
          %hidden
            +hidden
  %div.example
    %h3.mixin
      %a.permalink{:href => "#mixin-hidden"}
        :preserve
          .hidden
    #mixin-hidden.extendable-source
      %pre
        :preserve
          .hidden
            @extend %hidden
  %div.example
    %h3.mixin
      %a.permalink{:href => "#mixin-visuallyhidden-hidden"}
        :preserve
          %visuallyhidden
    #mixin-visuallyhidden-hidden.extendable-source
      %pre
        :preserve
          %visuallyhidden
            +visuallyhidden
  %div.example
    %h3.mixin
      %a.permalink{:href => "#mixin-visuallyhidden-focusable-hidden"}
        :preserve
          %visuallyhidden.focusable
    #mixin-visuallyhidden-focusable-hidden.extendable-source
      %pre
        :preserve
          %visuallyhidden.focusable
            +visuallyhidden(true)
  %div.example
    %h3.mixin
      %a.permalink{:href => "#mixin-invisible-hidden"}
        :preserve
          %invisible
    #mixin-invisible-hidden.extendable-source
      %pre
        :preserve
          %invisible
            +invisible
  %div.example
    %h3.mixin
      %a.permalink{:href => "#mixin-constrain-to-parent-hidden"}
        :preserve
          %constrain-to-parent
    #mixin-constrain-to-parent-hidden.extendable-source
      %pre
        :preserve
          %constrain-to-parent
            max-width: 100%
  %div.example
    %h3.mixin
      %a.permalink{:href => "#mixin-italic-hidden"}
        :preserve
          %italic
    #mixin-italic-hidden.extendable-source
      %pre
        :preserve
          %italic
            font-style: italic
  %div.example
    %h3.mixin
      %a.permalink{:href => "#mixin-bold-hidden"}
        :preserve
          %bold
    #mixin-bold-hidden.extendable-source
      %pre
        :preserve
          %bold
            font-weight: bold
  %div.example
    %h3.mixin
      %a.permalink{:href => "#mixin-wireframe-hidden"}
        :preserve
          %wireframe
    #mixin-wireframe-hidden.extendable-source
      %pre
        :preserve
          %wireframe
            outline: 1px dashed $red

