%article#form-image-button.element
  %h2.element-title Form, Image Button
  .markup
    %form#styleguide-form--4{"accept-charset" => "UTF-8", :action => "", :method => "post"}
      %div
        %input#edit-image-button.form-submit{:height => "20", :name => "Image button", :src => "/images/drupal/druplicon.png", :type => "image"}
          %input{:name => "form_build_id", :type => "hidden", :value => "form-p1dsmzCRyryNpAJqK_wY6xAdvKCseCEa2tWVhNUwKBE"}
            %input{:name => "form_token", :type => "hidden", :value => "JgHDsNA3K2wOnE1ML25JvEfxbCUwElNU2YFSdWy0Ivk"}
              %input{:name => "form_id", :type => "hidden", :value => "styleguide_form"}
