%article#form-comment.element
  %h2.element-title Comment Form
  .markup
    %h2.title.comment-form Add new comment
    %form#comment-form.comment-form{"accept-charset" => "UTF-8", :action => "/comment/reply/1", :method => "post"}
      %div
        #edit-author--2.form-item.form-type-item
          %label{:for => "edit-author--2"} Your name
          %a.username{:href => "/user/1", :title => "View user profile."} admin
        .form-item.form-type-textfield.form-item-subject
          %label{:for => "edit-subject"} Subject
          %input#edit-subject.form-text{:maxlength => "64", :name => "subject", :size => "60", :type => "text", :value => ""}
        #edit-comment-body.field-type-text-long.field-name-comment-body.field-widget-text-textarea.form-wrapper
          #comment-body-add-more-wrapper
            .text-format-wrapper
              .form-item.form-type-textarea.form-item-comment-body-und-0-value
                %label{:for => "edit-comment-body-und-0-value"}
                  Comment
                  %span.form-required{:title => "This field is required."} *
                .form-textarea-wrapper.resizable.textarea-processed.resizable-textarea
                  %textarea#edit-comment-body-und-0-value.text-full.form-textarea.required{:cols => "60", :name => "comment_body[und][0][value]", :rows => "5"}
                  .grippie
              %fieldset#edit-comment-body-und-0-format.filter-wrapper.form-wrapper
                .fieldset-wrapper
                  #edit-comment-body-und-0-format-help.filter-help.form-wrapper
                    %p
                      %a{:href => "/filter/tips"} More information about text formats
                  .form-item.form-type-select.form-item-comment-body-und-0-format
                    %label{:for => "edit-comment-body-und-0-format--2"} Text format
                    %select#edit-comment-body-und-0-format--2.filter-list.form-select{:name => "comment_body[und][0][format]"}
                      %option{:selected => "selected", :value => "filtered_html"} Filtered HTML
                      %option{:value => "full_html"} Full HTML
                      %option{:value => "plain_text"} Plain text
                  #edit-comment-body-und-0-format-guidelines.filter-guidelines.form-wrapper.filter-guidelines-processed
                    .filter-guidelines-item.filter-guidelines-filtered_html{:style => "display: block; "}
                      %h3{:style => "display: none; "} Filtered HTML
                      %ul.tips
                        %li Web page addresses and e-mail addresses turn into links automatically.
                        %li Allowed HTML tags: &lt;a&gt; &lt;em&gt; &lt;strong&gt; &lt;cite&gt; &lt;blockquote&gt; &lt;code&gt; &lt;ul&gt; &lt;ol&gt; &lt;li&gt; &lt;dl&gt; &lt;dt&gt; &lt;dd&gt;
                        %li Lines and paragraphs break automatically.
                    .filter-guidelines-item.filter-guidelines-full_html{:style => "display: none; "}
                      %h3{:style => "display: none; "} Full HTML
                      %ul.tips
                        %li Web page addresses and e-mail addresses turn into links automatically.
                        %li Lines and paragraphs break automatically.
                    .filter-guidelines-item.filter-guidelines-plain_text{:style => "display: none; "}
                      %h3{:style => "display: none; "} Plain text
                      %ul.tips
                        %li No HTML tags allowed.
                        %li Web page addresses and e-mail addresses turn into links automatically.
                        %li Lines and paragraphs break automatically.
        #edit-actions.form-actions.form-wrapper
          %input#edit-submit.form-submit{:name => "op", :type => "submit", :value => "Save"}
            %input#edit-preview.form-submit{:name => "op", :type => "submit", :value => "Preview"}
