%article#form-submit.element
  %h2.element-title Form, Submit
  .markup
    %form#styleguide-form--2{"accept-charset" => "UTF-8", :action => "", :method => "post"}
      %div
        %input#edit-submit.form-submit{:name => "op", :type => "submit", :value => "Submit"}
          %input{:name => "form_build_id", :type => "hidden", :value => "form-mDodr4jjbAa-YW-l9feHHiRv2hXgvcUmRf3FR8ujoTc"}
            %input{:name => "form_token", :type => "hidden", :value => "JgHDsNA3K2wOnE1ML25JvEfxbCUwElNU2YFSdWy0Ivk"}
              %input{:name => "form_id", :type => "hidden", :value => "styleguide_form"}
