%div#pager.element
  %h2.element-title Pager
  .markup
    %ul.pager
      %li.pager-first.first
        %a.active{:href => "/node", :title => "Go to first page"} « first
      %li.pager-previous
        %a.active{:href => "/node", :title => "Go to previous page"} ‹ previous
      %li.pager-item
        %a.active{:href => "/node", :title => "Go to page 1"} 1
      %li.pager-current 2
      %li.pager-item
        %a.active{:href => "/node?page=2", :title => "Go to page 3"} 3
      %li.pager-next
        %a.active{:href => "/node?page=2", :title => "Go to next page"} next ›
      %li.pager-last.last
        %a.active{:href => "/node?page=2", :title => "Go to last page"} last »
