%article#tables.element
  %h2.element-title Tables
  .markup
    %table.sticky-header{:style => "position: fixed; top: 0px; left: 13px; visibility: hidden; "}
      %thead{:style => ""}
        %tr
          %th vitae
          %th tempor
          %th gravida
          %th in
          %th nec
    %table.sticky-enabled.tableheader-processed.sticky-table
      %thead
        %tr
          %th vitae
          %th tempor
          %th gravida
          %th in
          %th nec
      %tbody
        %tr.odd
          %td eget
          %td ac
          %td fusce
          %td et
          %td in
        %tr.even
          %td tempor
          %td luctus
          %td lacus
          %td eget
          %td ac
        %tr.odd
          %td amet
          %td convallis
          %td dignissim
          %td iaculis
          %td elit
        %tr.even
          %td lorem
          %td enim
          %td porta
          %td iaculis
          %td eros
        %tr.odd
          %td in
          %td iaculis
          %td nam
          %td luctus
          %td sed
