// SUSY GRID FRAMEWORK
//*
//  Susy: Un-obtrusive grids for designers
//  By: Eric A. Meyer and OddBird
//  Site: susy.oddbird.net
//*

// Grid Variables --------------------------------------------------------------
$total-cols: $kit-total-cols;
$col-width: $kit-col-width;
$gutter-width: $kit-gutter-width;
$side-gutter-width: $kit-side-gutter-width;

// uncomment to output the full container width to the terminal
// @debug columns-width()

/* DEFINE THE GRID CONTAINER -------------------------------------------------------------- */
// BUILD THE GRID FOR YOUR SITE

// BUILD THE GRID BY CALLING SUSY MIXINS ON DOM ELEMENTS
// example:
// body
//   #container
//     +container
//       @if $show-grid == true
//         +susy-grid-background
