










/* Inline --------------------------------------------------------------









ins
  text-decoration: none
  border-bottom: 1px solid $base-color

del
  text-decoration: line-through




  
  
/* Block --------------------------------------------------------------



pre
  margin: $base-rhythm-unit
  white-space: pre


  
  

  

/* Tables --------------------------------------------------------------
/* tables still need 'cellspacing="0"' in the markup

table
  +trailer
  width: 100%
  border-collapse: separate
  border-spacing: 0

table, td, th
  vertical-align: top

th, thead th
  font-weight: bold

th, td, caption
  padding: $base-rhythm-unit * 0.5
  text-align: left

table, th
  +trailing-border(1px, 0.5)
  border-color: $gray
  border-style: dotted

tr.even
  td
    background-color: $gray

tfoot
  font-weight: bold

caption
  @extend .allcaps
  

  
  
/* Images --------------------------------------------------------------

img
  vertical-align: text-bottom
  max-width: 100%
  height: auto
  -ms-interpolation-mode: bicubic
  &.left
    float: left
    margin: $kit-baseline-half $kit-gutter $kit-baseline-half 0
  &.right
    float: right
    margin: $kit-baseline-half 0 $kit-baseline-half $kit-gutter