@charset "UTF-8";
/* The Coding Designer's Survival Kit
 * A framework for designing websites in the browser.
 *
 * Much love to:
 * Sass, Compass, HTML5 Boilerplate, Modernizr, Formalize, and more
 *
 * Available at http://thecodingdesigner.com
 * twitter: http://twitter.com/canarymason */
/* -------------------------------------------------------------------------------------
 * -------------------------------------------------------------------------------------- */
/* This CSS was authored using Sass & Compass
 * Download the source files here:
 * https://github.com/canarymason/The-Coding-Designers-Survival-Kit
 * Learn more about Sass & Compass at http://compass-style.org/ */
/* Links -------------------------------------------------------------- */
/* create simple tabs from <a> unside <ul>
 * $dir is 'bottom' for standard tabs
 * 'top' for hanging tabs
 * assumes placement on UL */
.clearfix, body.survival-kit header hgroup {
  zoom: 1;
}
.clearfix:after, body.survival-kit header hgroup:after {
  content: "\0020";
  display: table;
  clear: both;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.constrain-to-parent {
  max-width: 100%;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.wireframe {
  outline: 1px dashed red;
}

.serif {
  font-family: Georgia, serif;
}

.sans {
  font-family: sans-serif;
}

.mono, body.survival-kit article.element .example .markup + .show-source {
  font-family: Consolas, Menlo, "Courier New", monospace, monospace;
  _font-family: Consolas, Menlo, "Courier New", monospace, monospace;
}

.caps, .allcaps, .smallcaps {
  font-size: 0.9em;
  letter-spacing: 0.1em;
}

.headers {
  font-family: sans-serif;
}

.allcaps {
  text-transform: uppercase;
}

.amp {
  font-family: Georgia, serif;
}

.smallcaps {
  font-variant: small-caps;
}

.dquo {
  margin-left: -0.5em;
  font-family: Georgia, serif;
}

/* Only use the fancy ampersand in <h#> tags */
h1 .amp, h2 .amp, h3 .amp, h4 .amp, h5 .amp, h6 .amp {
  font-size: 1em;
  font-family: Georgia, serif;
  font-style: italic;
}

body.survival-kit header {
  background: #d0d3c6;
  font-family: futura, sans-serif;
  padding: 0 0.5em;
}
body.survival-kit header a {
  color: white;
}
body.survival-kit header a:visited {
  color: white;
}
body.survival-kit header a:hover {
  color: #aaada0;
}
body.survival-kit header a:active {
  color: #aaada0;
}
body.survival-kit header a {
  text-decoration: none;
  border-bottom: 1px solid white;
}
body.survival-kit header a:visited {
  border-bottom-color: white;
}
body.survival-kit header a:hover {
  border-bottom-color: #aaada0;
}
body.survival-kit header a:active {
  border-bottom-color: #aaada0;
}
body.survival-kit header h1 {
  font-size: 1.286em;
  line-height: 1.333em;
  float: left;
  padding-right: 22px;
  margin-right: 22px;
  border-right: 1px solid white;
  font-family: futura, sans-serif;
}
body.survival-kit header h1 a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('../../images/survival-kit-logo.png?1327219167');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 220px;
  height: 40px;
  display: block;
  padding: 0.3em;
}
body.survival-kit header h1 a {
  border-bottom: none;
}
body.survival-kit header h1 a:hover {
  border-bottom: none;
}
body.survival-kit header h2 {
  font-size: 1.571em;
  line-height: 2.182em;
  font-family: futura, sans-serif;
}
body.survival-kit header .intro {
  margin-left: 18.929em;
}
body.survival-kit h1.section-title {
  font-size: 1.643em;
  line-height: 2.087em;
  background-color: #d0d3c6;
  text-transform: uppercase;
  padding-left: 11px;
}
body.survival-kit h1.section-title a {
  color: black;
}
body.survival-kit h1.section-title a:visited {
  color: black;
}
body.survival-kit h1.section-title a:hover {
  color: #bada55;
}
body.survival-kit h1.section-title a:active {
  color: #bada55;
}
body.survival-kit h1.section-title a {
  text-decoration: none;
  border-bottom: 1px solid black;
}
body.survival-kit h1.section-title a:visited {
  border-bottom-color: black;
}
body.survival-kit h1.section-title a:hover {
  border-bottom-color: #bada55;
}
body.survival-kit h1.section-title a:active {
  border-bottom-color: #bada55;
}
body.survival-kit h1.section-title .fold-section, body.survival-kit h2.element-title .fold-article {
  margin-left: 1em;
}
body.survival-kit h1.section-title .fold-section, body.survival-kit h2.element-title .fold-article {
  border-bottom: none;
}
body.survival-kit h1.section-title .fold-section:hover, body.survival-kit h2.element-title .fold-article:hover {
  border-bottom: none;
}
body.survival-kit .kit-nav, body.survival-kit .section-nav {
  margin-bottom: 1.714em;
  padding: 0 0.5em;
  font-family: futura, sans-serif;
  color: #d0d3c6;
}
body.survival-kit .kit-nav h1, body.survival-kit .kit-nav h2, body.survival-kit .kit-nav h3, body.survival-kit .kit-nav h4, body.survival-kit .kit-nav h5, body.survival-kit .kit-nav h6, body.survival-kit .section-nav h1, body.survival-kit .section-nav h2, body.survival-kit .section-nav h3, body.survival-kit .section-nav h4, body.survival-kit .section-nav h5, body.survival-kit .section-nav h6 {
  font-size: 14px;
}
body.survival-kit .kit-nav a, body.survival-kit .section-nav a {
  color: white;
}
body.survival-kit .kit-nav a:visited, body.survival-kit .section-nav a:visited {
  color: white;
}
body.survival-kit .kit-nav a:hover, body.survival-kit .section-nav a:hover {
  color: #bada55;
}
body.survival-kit .kit-nav a:active, body.survival-kit .section-nav a:active {
  color: #bada55;
}
body.survival-kit .kit-nav a, body.survival-kit .section-nav a {
  text-decoration: none;
  border-bottom: 1px solid white;
}
body.survival-kit .kit-nav a:visited, body.survival-kit .section-nav a:visited {
  border-bottom-color: white;
}
body.survival-kit .kit-nav a:hover, body.survival-kit .section-nav a:hover {
  border-bottom-color: #bada55;
}
body.survival-kit .kit-nav a:active, body.survival-kit .section-nav a:active {
  border-bottom-color: #bada55;
}
body.survival-kit .kit-nav ul, body.survival-kit .section-nav ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
}
body.survival-kit .kit-nav ul li, body.survival-kit .section-nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
body.survival-kit .kit-nav ul li:first-child, body.survival-kit .kit-nav ul li.first, body.survival-kit .section-nav ul li:first-child, body.survival-kit .section-nav ul li.first {
  padding-left: 0;
}
body.survival-kit .kit-nav ul li:last-child, body.survival-kit .section-nav ul li:last-child {
  padding-right: 0;
}
body.survival-kit .kit-nav ul li.last, body.survival-kit .section-nav ul li.last {
  padding-right: 0;
}
body.survival-kit .kit-nav {
  background: #6a6d62;
}
body.survival-kit .section-nav {
  background: #85897b;
  margin-top: -1.714em;
}
body.survival-kit .section-nav h3 {
  color: #4f5249;
  font-size: 0.857em;
  line-height: 2em;
}
body.survival-kit .section-nav h4 {
  float: left;
  margin-right: 0.5em;
}
body.survival-kit article.element {
  *zoom: 1;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
  margin-bottom: 21px;
  padding-bottom: 20px;
}
body.survival-kit article.element:after {
  content: "";
  display: table;
  clear: both;
}
body.survival-kit article.element:last-child {
  padding-bottom: 0;
  border-bottom-width: 0;
  margin-bottom: 0;
}
body.survival-kit article.element.closed {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
body.survival-kit article.element h2.element-title {
  font-size: 1em;
  line-height: 1.714em;
  background-color: #85897b;
  color: white;
  text-transform: uppercase;
  padding-left: 11px;
}
body.survival-kit article.element h2.element-title a {
  color: white;
}
body.survival-kit article.element h2.element-title a:visited {
  color: white;
}
body.survival-kit article.element h2.element-title a:hover {
  color: #bada55;
}
body.survival-kit article.element h2.element-title a:active {
  color: #bada55;
}
body.survival-kit article.element h2.element-title a {
  text-decoration: none;
  border-bottom: 1px solid white;
}
body.survival-kit article.element h2.element-title a:visited {
  border-bottom-color: white;
}
body.survival-kit article.element h2.element-title a:hover {
  border-bottom-color: #bada55;
}
body.survival-kit article.element h2.element-title a:active {
  border-bottom-color: #bada55;
}
body.survival-kit article.element .example {
  *zoom: 1;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.1);
  margin-bottom: 10.5px;
  padding-bottom: 9.5px;
  *zoom: 1;
}
body.survival-kit article.element .example:after {
  content: "";
  display: table;
  clear: both;
}
body.survival-kit article.element .example:last-child {
  padding-bottom: 0;
  border-bottom-width: 0;
  margin-bottom: 0;
}
body.survival-kit article.element .example:after {
  content: "";
  display: table;
  clear: both;
}
body.survival-kit article.element .example .markup {
  display: inline;
  float: left;
  width: 64.228%;
  margin-right: 2.439%;
}
body.survival-kit article.element .example .markup + .show-source {
  display: inline;
  float: right;
  width: 30.894%;
  margin-right: 0;
}
body.survival-kit article.element .example .markup + .show-source .show-hide {
  text-align: right;
}
body.survival-kit article.element .example .markup + .show-source + p {
  clear: both;
}
