// SUSY GRID FRAMEWORK
//*
//  Susy: Un-obtrusive grids for designers
//  By: Eric A. Meyer and OddBird
//  Site: susy.oddbird.net
//*

// Grid Variables --------------------------------------------------------------
$total-columns: 12;
$column-width: 6em;
$gutter-width: 2em;
$side-gutter-width: $gutter-width;

// uncomment to output the full container width to the terminal
// @debug columns-width()

// BUILD THE GRID FOR YOUR SITE

// BUILD THE GRID BY CALLING SUSY MIXINS ON DOM ELEMENTS
// example:
// body {
//   #container {
//     @include container;
//     @if $show-grid == true {
//       @include susy-grid-background;
//     }
//     @elseif $show-baseline == true {
//       @include baseline-grid-background;
//     }
//   }
//   .main {
//     @include span-columns(8);
//   }
//   .side {
//     @include span-columns(4 omega);
//   }
// }

