- @title = "Extendables → Helpers"
- @subnav = "<nav class='section-nav'></nav> "

/ Helpers
%section#helpers.element-group
  %h1.section-title Helpers
  %p.intro
    :markdown
      Extendables that help.
  %div.example
    %h3.extendable
      %a.permalink{:href => "#extend-clearfix-hidden"}
        :preserve
          %clearfix
    #extend-clearfix-hidden.extendable-source
      %pre.scss
        :preserve
          %clearfix {
            @include kit-clearfix;
          }
  %div.example
    %h3.extendable
      %a.permalink{:href => "#extend-hidden-hidden"}
        :preserve
          %hidden
    #extend-hidden-hidden.extendable-source
      %pre.scss
        :preserve
          %hidden {
            @include hidden;
          }
  %div.example
    %h3.extendable
      %a.permalink{:href => "#extend-visuallyhidden-hidden"}
        :preserve
          %visuallyhidden
    #extend-visuallyhidden-hidden.extendable-source
      %pre.scss
        :preserve
          %visuallyhidden {
            @include visuallyhidden;
          }
  %div.example
    %h3.extendable
      %a.permalink{:href => "#extend-visuallyhidden-focusable-hidden"}
        :preserve
          %visuallyhidden.focusable
    #extend-visuallyhidden-focusable-hidden.extendable-source
      %pre.scss
        :preserve
          %visuallyhidden.focusable {
            @include visuallyhidden(true);
          }
  %div.example
    %h3.extendable
      %a.permalink{:href => "#extend-invisible-hidden"}
        :preserve
          %invisible
    #extend-invisible-hidden.extendable-source
      %pre.scss
        :preserve
          %invisible {
            @include invisible;
          }
  %div.example
    %h3.extendable
      %a.permalink{:href => "#extend-constrain-to-parent-hidden"}
        :preserve
          %constrain-to-parent
    #extend-constrain-to-parent-hidden.extendable-source
      %pre.scss
        :preserve
          %constrain-to-parent {
            max-width: 100%;
          }
  %div.example
    %h3.extendable
      %a.permalink{:href => "#extend-italic-hidden"}
        :preserve
          %italic
    #extend-italic-hidden.extendable-source
      %pre.scss
        :preserve
          %italic {
            font-style: italic;
          }
  %div.example
    %h3.extendable
      %a.permalink{:href => "#extend-bold-hidden"}
        :preserve
          %bold
    #extend-bold-hidden.extendable-source
      %pre.scss
        :preserve
          %bold {
            font-weight: bold;
          }
  %div.example
    %h3.extendable
      %a.permalink{:href => "#extend-wireframe-hidden"}
        :preserve
          %wireframe
    #extend-wireframe-hidden.extendable-source
      %pre.scss
        :preserve
          %wireframe {
            outline: 1px dashed $red;
          }
