- @title = "Extendables → Sticky Footer"
- @subnav = "<nav class='section-nav'></nav> "

/ Sticky Footer
%section#helpers.element-group
  %h1.section-title Sticky Footer
  %p.intro
    :markdown
      Extendables for sticky footer.
      [link](http://pixelsvsbytes.com/blog/2011/09/sticky-css-footers-the-flexible-way/)
  %div.example
    %h3.extendable
      %a.permalink{:href => "#extend-html-frame-hidden"}
        :preserve
          %html-frame
    #extend-html-frame-hidden.extendable-source
      .comment
        &= "apply to <html> and <body>"
      %pre.scss
        :preserve
          %html-frame {
            height: 100%;
            margin: 0pt;
          }
      %pre.sass
        :preserve
          %html-frame
            height: 100%
            margin: 0pt
  %div.example
    %h3.extendable
      %a.permalink{:href => "#extend-frame-hidden"}
        :preserve
          %frame
    #extend-frame-hidden.extendable-source
      .comment
        &= "apply to <body>"
      %pre.scss
        :preserve
          %frame {
            display: table;
            height: 100%;
            width: 100%;
          }
      %pre.sass
        :preserve
          %frame
            display: table
            height: 100%
            width: 100%
  %div.example
    %h3.extendable
      %a.permalink{:href => "#extend-row-hidden"}
        :preserve
          %row
    #extend-row-hidden.extendable-source
      %pre.scss
        :preserve
          %row {
            display: table-row;
          }
      %pre.sass
        :preserve
          %row
            display: table-row
  %div.example
    %h3.extendable
      %a.permalink{:href => "#extend-row-expand-hidden"}
        :preserve
          %row-expand
    #extend-row-expand-hidden.extendable-source
      %pre.scss
        :preserve
          %row-expand {
            @extend %row;
            height: 100%;
          }
      %pre.sass
        :preserve
          %row-expand
            @extend .row
            height: 100%
