#menu.kit-ui
  %nav.kit-nav
    %ul
      %li
        Variables
        %ul
          %li
            %a{:href => "/core/variables/color-names.html"} Color Names
          %li
            %a{:href => "/core/variables/helpers.html"} Helpers
      %li
        Extendables
        %ul
          %li
            %a{:href => "/core/extend/helpers.html"} Helpers
          %li
            %a{:href => "/core/extend/sticky-footer.html"} Sticky Footer
      %li
        Functions
        %ul
          %li
            %a{:href => "/core/functions/calculations.html"} Calculations
      %li
        Mixins
        %ul
          %li
            %a{:href => "/core/mixins/helpers.html"} Helpers
          %li
            %a{:href => "/core/mixins/layout.html"} Layout
          %li
            %a{:href => "/core/mixins/pseudo.html"} Pseudo
          %li
            %a{:href => "/core/mixins/typography.html"} Typography
          %li
            %a{:href => "/core/mixins/ui.html"} UI
      %li
        Reset
        %ul
          %li
            %a{:href => "/core/reset/reset.html"}
              Reset
      %li
        Fonts
        %ul
          %li
            %a{:href => "/core/fonts/font-awesome.html"}
              Font-Awesome
          %li
            %a{:href => "/core/fonts/league-gothic.html"}
              League Gothic
          %li
            %a{:href => "/core/fonts/ostrich.html"}
              Ostrich
    %h2
      Standard
      %ul
        %li
          %a{:href => "/installation.html"}
            Installation
        %li
          Sass / Scss Workflow
          %ul
            %li
              %a{:href => "/standard/imports.html"}
                Imports
            %li
              Variables
              %ul
                %li
                  %a{:href => "/standard/variables/base.html"}
                    Base
                %li
                  %a{:href => "/standard/variables/colors.html"}
                    Colors
                %li
                  %a{:href => "/standard/variables/fonts.html"}
                    Fonts
            %li
              Mixins
              %ul
                %li
                  %a{:href => "/standard/mixins/mixins.html"}
                    Custom
            %li
              Extend
              %ul
                %li
                  %a{:href => "/standard/extend/helpers.html"}
                    Helpers
                %li
                  %a{:href => "/standard/extend/typography.html"}
                    Typography
            %li
              %a{:href => "/standard/base/base.html"}
                Base
            %li
              Layout
              %ul
                %li
                  %a{:href => "/standard/layout/susy.html"}
                    Grids - Susy
            %li
              UI Patterns
              %ul
                %li
                  %a{:href => "/standard/ui-patterns/common.html"}
                    Common
                %li
                  %a{:href => "/standard/ui-patterns/drupal.html"}
                    Drupal
            %li
              Style Tiles
              %ul
                %li
                  %a{:href => "/standard/style-tiles/style-tiles.html"}
                    Tile Design
            %li
              Media
              %ul
                %li
                  %a{:href => "/standard/media/print.html"}
                    Print
            %li
              %a{:href => "/standard/your-design.html"}
                Your Design
        / %li
        /   Javascript
    / %h2
    /   Drupal Theme
