%article#a.element
  %h2.element-title
    %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-a-element"} a
  .markup
    %nav
      %ul
        %li
          %a{:href => "/"} Home
        %li
          %a{:href => "/news"} News
        %li
          %a Examples
        %li
          %a{:href => "/legal"} Legal
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-a-element"} a
    element may be wrapped around entire
    paragraphs, lists, tables, and so forth, even entire sections, so
    long as there is no interactive content within (e.g. buttons or
    other links). This example shows how this can be used to make an
    entire advertising block into a link:
  .markup
    %aside.advertising
      %h1 Advertising
      %a{:href => "http://ad.example.com/?adid=1929&pubid=1422"}
        %section
          %h1 Mellblomatic 9000!
          %p Turn all your widgets into mellbloms!
          %p Only $9.99 plus shipping and handling.
      %a{:href => "http://ad.example.com/?adid=375&pubid=1422"}
        %section
          %h1 The Mellblom Browser
          %p Web browsing at the speed of light.
          %p No other browser goes faster!