%div#kbd.element
  %h2.element-title kbd
  .markup
    %p
      Means information that should be entered by the user.
      %br
        Sample: press
        %kbd Alt + F4
        to close this window.
        %kbd ESC
