- @title = "Variables → Color Names"
- @subnav = "<nav class='section-nav'></nav> "

/ Color Names
%section#color-names.element-group
  %h1.section-title Color Names
  %p.intro
    :markdown
      Sass (tktktk version) now includes all named color variables from tktktk:source

      This partial declares each one as a variable.
  %div.example
    %table
      %thead
        %tr
          %td
            Variable
          %td
            Value
      %tr
        %td.variable
          $aliceblue
        %td.value.color.aliceblue
          aliceblue
      %tr
        %td.variable
          $antiquewhite
        %td.value.color.antiquewhite
          antiquewhite
      %tr
        %td.variable
          $aqua
        %td.value.color.aqua
          aqua
      %tr
        %td.variable
          $aquamarine
        %td.value.color.aquamarine
          aquamarine
      %tr
        %td.variable
          $azure
        %td.value.color.azure
          azure
      %tr
        %td.variable
          $badass
        %td.value.color.badass
          \#bada55
      %tr
        %td.variable
          $beige
        %td.value.color.beige
          beige
      %tr
        %td.variable
          $bisque
        %td.value.color.bisque
          bisque
      %tr
        %td.variable
          $black
        %td.value.color.black
          black
      %tr
        %td.variable
          $blanchedalmond
        %td.value.color.blanchedalmond
          blanchedalmond
      %tr
        %td.variable
          $blue
        %td.value.color.blue
          blue
      %tr
        %td.variable
          $blueviolet
        %td.value.color.blueviolet
          blueviolet
      %tr
        %td.variable
          $brown
        %td.value.color.brown
          brown
      %tr
        %td.variable
          $burlywood
        %td.value.color.burlywood
          burlywood
      %tr
        %td.variable
          $cadetblue
        %td.value.color.cadetblue
          cadetblue
      %tr
        %td.variable
          $chartreuse
        %td.value.color.chartreuse
          chartreuse
      %tr
        %td.variable
          $chocolate
        %td.value.color.chocolate
          chocolate
      %tr
        %td.variable
          $coral
        %td.value.color.coral
          coral
      %tr
        %td.variable
          $cornflowerblue
        %td.value.color.cornflowerblue
          cornflowerblue
      %tr
        %td.variable
          $cornsilk
        %td.value.color.cornsilk
          cornsilk
      %tr
        %td.variable
          $crimson
        %td.value.color.crimson
          crimson
      %tr
        %td.variable
          $cyan
        %td.value.color.cyan
          cyan
      %tr
        %td.variable
          $darkblue
        %td.value.color.darkblue
          darkblue
      %tr
        %td.variable
          $darkcyan
        %td.value.color.darkcyan
          darkcyan
      %tr
        %td.variable
          $darkgoldenrod
        %td.value.color.darkgoldenrod
          darkgoldenrod
      %tr
        %td.variable
          $darkgray
        %td.value.color.darkgray
          darkgray
      %tr
        %td.variable
          $darkgrey
        %td.value.color.darkgrey
          darkgrey
      %tr
        %td.variable
          $darkgreen
        %td.value.color.darkgreen
          darkgreen
      %tr
        %td.variable
          $darkkhaki
        %td.value.color.darkkhaki
          darkkhaki
      %tr
        %td.variable
          $darkmagenta
        %td.value.color.darkmagenta
          darkmagenta
      %tr
        %td.variable
          $darkolivegreen
        %td.value.color.darkolivegreen
          darkolivegreen
      %tr
        %td.variable
          $darkorange
        %td.value.color.darkorange
          darkorange
      %tr
        %td.variable
          $darkorchid
        %td.value.color.darkorchid
          darkorchid
      %tr
        %td.variable
          $darkred
        %td.value.color.darkred
          darkred
      %tr
        %td.variable
          $myred
        %td.value.color.myred
          \#b80000
      %tr
        %td.variable
          $darksalmon
        %td.value.color.darksalmon
          darksalmon
      %tr
        %td.variable
          $darkseagreen
        %td.value.color.darkseagreen
          darkseagreen
      %tr
        %td.variable
          $darkslateblue
        %td.value.color.darkslateblue
          darkslateblue
      %tr
        %td.variable
          $darkslategray
        %td.value.color.darkslategray
          darkslategray
      %tr
        %td.variable
          $darkslategrey
        %td.value.color.darkslategrey
          darkslategrey
      %tr
        %td.variable
          $darkturquoise
        %td.value.color.darkturquoise
          darkturquoise
      %tr
        %td.variable
          $darkviolet
        %td.value.color.darkviolet
          darkviolet
      %tr
        %td.variable
          $deeppink
        %td.value.color.deeppink
          deeppink
      %tr
        %td.variable
          $deepskyblue
        %td.value.color.deepskyblue
          deepskyblue
      %tr
        %td.variable
          $dimgray
        %td.value.color.dimgray
          dimgray
      %tr
        %td.variable
          $dimgrey
        %td.value.color.dimgrey
          dimgrey
      %tr
        %td.variable
          $dodgerblue
        %td.value.color.dodgerblue
          dodgerblue
      %tr
        %td.variable
          $firebrick
        %td.value.color.firebrick
          firebrick
      %tr
        %td.variable
          $floralwhite
        %td.value.color.floralwhite
          floralwhite
      %tr
        %td.variable
          $forestgreen
        %td.value.color.forestgreen
          forestgreen
      %tr
        %td.variable
          $fuchsia
        %td.value.color.fuchsia
          fuchsia
      %tr
        %td.variable
          $gainsboro
        %td.value.color.gainsboro
          gainsboro
      %tr
        %td.variable
          $ghostwhite
        %td.value.color.ghostwhite
          ghostwhite
      %tr
        %td.variable
          $gold
        %td.value.color.gold
          gold
      %tr
        %td.variable
          $goldenrod
        %td.value.color.goldenrod
          goldenrod
      %tr
        %td.variable
          $gray
        %td.value.color.gray
          gray
      %tr
        %td.variable
          $grey
        %td.value.color.grey
          gray
      %tr
        %td.variable
          $green
        %td.value.color.green
          green
      %tr
        %td.variable
          $greenyellow
        %td.value.color.greenyellow
          greenyellow
      %tr
        %td.variable
          $honeydew
        %td.value.color.honeydew
          honeydew
      %tr
        %td.variable
          $hotpink
        %td.value.color.hotpink
          hotpink
      %tr
        %td.variable
          $indianred
        %td.value.color.indianred
          indianred
      %tr
        %td.variable
          $indigo
        %td.value.color.indigo
          indigo
      %tr
        %td.variable
          $ivory
        %td.value.color.ivory
          ivory
      %tr
        %td.variable
          $khaki
        %td.value.color.khaki
          khaki
      %tr
        %td.variable
          $lavender
        %td.value.color.lavender
          lavender
      %tr
        %td.variable
          $lavenderblush
        %td.value.color.lavenderblush
          lavenderblush
      %tr
        %td.variable
          $lawngreen
        %td.value.color.lawngreen
          lawngreen
      %tr
        %td.variable
          $lemonchiffon
        %td.value.color.lemonchiffon
          lemonchiffon
      %tr
        %td.variable
          $lightblue
        %td.value.color.lightblue
          lightblue
      %tr
        %td.variable
          $lightcoral
        %td.value.color.lightcoral
          lightcoral
      %tr
        %td.variable
          $lightcyan
        %td.value.color.lightcyan
          lightcyan
      %tr
        %td.variable
          $lightgoldenrodyellow
        %td.value.color.lightgoldenrodyellow
          lightgoldenrodyellow
      %tr
        %td.variable
          $lightgreen
        %td.value.color.lightgreen
          lightgreen
      %tr
        %td.variable
          $lightgray
        %td.value.color.lightgray
          lightgray
      %tr
        %td.variable
          $lightgrey
        %td.value.color.lightgrey
          lightgrey
      %tr
        %td.variable
          $lightpink
        %td.value.color.lightpink
          lightpink
      %tr
        %td.variable
          $lightsalmon
        %td.value.color.lightsalmon
          lightsalmon
      %tr
        %td.variable
          $lightseagreen
        %td.value.color.lightseagreen
          lightseagreen
      %tr
        %td.variable
          $lightskyblue
        %td.value.color.lightskyblue
          lightskyblue
      %tr
        %td.variable
          $lightslategray
        %td.value.color.lightslategray
          lightslategray
      %tr
        %td.variable
          $lightslategrey
        %td.value.color.lightslategrey
          lightslategrey
      %tr
        %td.variable
          $lightsteelblue
        %td.value.color.lightsteelblue
          lightsteelblue
      %tr
        %td.variable
          $lightyellow
        %td.value.color.lightyellow
          lightyellow
      %tr
        %td.variable
          $lime
        %td.value.color.lime
          lime
      %tr
        %td.variable
          $limegreen
        %td.value.color.limegreen
          limegreen
      %tr
        %td.variable
          $linen
        %td.value.color.linen
          linen
      %tr
        %td.variable
          $magenta
        %td.value.color.magenta
          magenta
      %tr
        %td.variable
          $maroon
        %td.value.color.maroon
          maroon
      %tr
        %td.variable
          $mediumaquamarine
        %td.value.color.mediumaquamarine
          mediumaquamarine
      %tr
        %td.variable
          $mediumblue
        %td.value.color.mediumblue
          mediumblue
      %tr
        %td.variable
          $mediumorchid
        %td.value.color.mediumorchid
          mediumorchid
      %tr
        %td.variable
          $mediumpurple
        %td.value.color.mediumpurple
          mediumpurple
      %tr
        %td.variable
          $mediumseagreen
        %td.value.color.mediumseagreen
          mediumseagreen
      %tr
        %td.variable
          $mediumslateblue
        %td.value.color.mediumslateblue
          mediumslateblue
      %tr
        %td.variable
          $mediumspringgreen
        %td.value.color.mediumspringgreen
          mediumspringgreen
      %tr
        %td.variable
          $mediumturquoise
        %td.value.color.mediumturquoise
          mediumturquoise
      %tr
        %td.variable
          $mediumvioletred
        %td.value.color.mediumvioletred
          mediumvioletred
      %tr
        %td.variable
          $midnightblue
        %td.value.color.midnightblue
          midnightblue
      %tr
        %td.variable
          $mintcream
        %td.value.color.mintcream
          mintcream
      %tr
        %td.variable
          $mistyrose
        %td.value.color.mistyrose
          mistyrose
      %tr
        %td.variable
          $moccasin
        %td.value.color.moccasin
          moccasin
      %tr
        %td.variable
          $navajowhite
        %td.value.color.navajowhite
          navajowhite
      %tr
        %td.variable
          $navy
        %td.value.color.navy
          navy
      %tr
        %td.variable
          $oldlace
        %td.value.color.oldlace
          oldlace
      %tr
        %td.variable
          $olive
        %td.value.color.olive
          olive
      %tr
        %td.variable
          $olivedrab
        %td.value.color.olivedrab
          olivedrab
      %tr
        %td.variable
          $orange
        %td.value.color.orange
          orange
      %tr
        %td.variable
          $orangered
        %td.value.color.orangered
          orangered
      %tr
        %td.variable
          $orchid
        %td.value.color.orchid
          orchid
      %tr
        %td.variable
          $palegoldenrod
        %td.value.color.palegoldenrod
          palegoldenrod
      %tr
        %td.variable
          $palegreen
        %td.value.color.palegreen
          palegreen
      %tr
        %td.variable
          $paleturquoise
        %td.value.color.paleturquoise
          paleturquoise
      %tr
        %td.variable
          $palevioletred
        %td.value.color.palevioletred
          palevioletred
      %tr
        %td.variable
          $papayawhip
        %td.value.color.papayawhip
          papayawhip
      %tr
        %td.variable
          $peachpuff
        %td.value.color.peachpuff
          peachpuff
      %tr
        %td.variable
          $peru
        %td.value.color.peru
          peru
      %tr
        %td.variable
          $pink
        %td.value.color.pink
          pink
      %tr
        %td.variable
          $plum
        %td.value.color.plum
          plum
      %tr
        %td.variable
          $powderblue
        %td.value.color.powderblue
          powderblue
      %tr
        %td.variable
          $purple
        %td.value.color.purple
          purple
      %tr
        %td.variable
          $red
        %td.value.color.red
          red
      %tr
        %td.variable
          $rosybrown
        %td.value.color.rosybrown
          rosybrown
      %tr
        %td.variable
          $royalblue
        %td.value.color.royalblue
          royalblue
      %tr
        %td.variable
          $saddlebrown
        %td.value.color.saddlebrown
          saddlebrown
      %tr
        %td.variable
          $salmon
        %td.value.color.salmon
          salmon
      %tr
        %td.variable
          $sandybrown
        %td.value.color.sandybrown
          sandybrown
      %tr
        %td.variable
          $seagreen
        %td.value.color.seagreen
          seagreen
      %tr
        %td.variable
          $seashell
        %td.value.color.seashell
          seashell
      %tr
        %td.variable
          $sienna
        %td.value.color.sienna
          sienna
      %tr
        %td.variable
          $silver
        %td.value.color.silver
          silver
      %tr
        %td.variable
          $skyblue
        %td.value.color.skyblue
          skyblue
      %tr
        %td.variable
          $slateblue
        %td.value.color.slateblue
          slateblue
      %tr
        %td.variable
          $slategray
        %td.value.color.slategray
          slategray
      %tr
        %td.variable
          $slategrey
        %td.value.color.slategrey
          slategrey
      %tr
        %td.variable
          $snow
        %td.value.color.snow
          snow
      %tr
        %td.variable
          $springgreen
        %td.value.color.springgreen
          springgreen
      %tr
        %td.variable
          $steelblue
        %td.value.color.steelblue
          steelblue
      %tr
        %td.variable
          $tan
        %td.value.color.tan
          tan
      %tr
        %td.variable
          $teal
        %td.value.color.teal
          teal
      %tr
        %td.variable
          $thistle
        %td.value.color.thistle
          thistle
      %tr
        %td.variable
          $tomato
        %td.value.color.tomato
          tomato
      %tr
        %td.variable
          $turquoise
        %td.value.color.turquoise
          turquoise
      %tr
        %td.variable
          $violet
        %td.value.color.violet
          violet
      %tr
        %td.variable
          $wheat
        %td.value.color.wheat
          wheat
      %tr
        %td.variable
          $white
        %td.value.color.white
          white
      %tr
        %td.variable
          $whitesmoke
        %td.value.color.whitesmoke
          whitesmoke
      %tr
        %td.variable
          $yellow
        %td.value.color.yellow
          yellow
      %tr
        %td.variable
          $yellowgreen
        %td.value.color.yellowgreen
          yellowgreen
