- @title = "Variables → Helpers"
- @subnav = "<nav class='section-nav'></nav> "

/ Helpers
%section#helpers.element-group
  %h1.section-title Helpers
  %p.intro
    :markdown
      Variables that help.
  %div.example
    %table
      %thead
        %tr
          %td
            Variable
          %td
            Value
      %tr
        %td.variable
          $space
        %td.value
          '\0020'
