%article#samp.element
  %h2.element-title
    %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-samp-element"} samp
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-samp-element"} samp
    element
    %a{:href => "http://developers.whatwg.org/text-level-semantics.html#represents"} represents
    (sample)
    output from a program or computing system.
  .markup
    %p
      The computer said
      %samp
        Too much cheese in tray
        two
      but I didn't know what that meant.
  .markup
    %pre
      %samp
        %span.prompt jdoe@mowmow:~$
        %kbd ssh demo.example.com
        Last login: Tue Apr 12 09:10:17 2005 from mowmow.example.com on pts/1
        Linux demo 2.6.10-grsec+gg3+e+fhs6b+nfs+gr0501+++p3+c4a+gr2b-reslog-v6.189 #1 SMP Tue Feb 1 11:22:36 PST 2005 i686 unknown
        %span.prompt jdoe@demo:~$
        %span.cursor _