%div#time.element
  %h2.element-title
    %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-time-element"} time
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-time-element"} time
    element
    %a{:href => "http://developers.whatwg.org/text-level-semantics.html#represents"} represents
    either a
    time on a 24 hour clock, or a precise date in the proleptic
    Gregorian calendar, optionally with a time and a time-zone
    offset.
    %a{:href => "references.html#refsGREGORIAN"} [GREGORIAN]
  .markup
    .vevent
      %a.url{:href => "http://www.web2con.com/"} http://www.web2con.com/
      = succeed ":" do
        %span.summary Web 2.0 Conference
      %time.dtstart{:datetime => "2007-10-05"} October 5
      \-
      = succeed "," do
        %time.dtend{:datetime => "2007-10-20"} 19
      at the
      %span.location Argent Hotel, San Francisco, CA
  .markup
    %p
      I usually have a snack at
      = succeed "." do
        %time 16:00
    %p I've liked model trains since at least 1983.
