%div#ul.element
  %h2.element-title
    %a{:href => "http://developers.whatwg.org/grouping-content.html#the-ul-element"} ul
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/grouping-content.html#the-ul-element"} ul
    element
    %a{:href => "http://developers.whatwg.org/grouping-content.html#represents"} represents
    a list of items, where the order of the items is not important — that is, where changing the order would not materially change the meaning of the document.
  .markup
    %p I have lived in the following countries:
    %ul
      %li
        Norway
        %li
          Switzerland
          %li
            United Kingdom
            %li
              United States
