- @title = "Fonts"
- @subnav = "<nav class='section-nav'></nav> "

/ Fonts
%section#helpers.element-group
  %h1.section-title Fonts
  %p.intro
    :markdown
      Survival Kit font variables.
      This file establishes simple clean default font stacks
  %div#default-font-stacks.element
    %h2.element-title
      %a.permalink{:href => "#default-font-stacks"}
        Default Font Stacks
    .extendable-source
      / .comment
      /   :markdown
      /     - accepted values: 'meyer' (default
      %pre.scss
        :preserve
          $font-sans: sans-serif;
          $font-serifs: Georgia, serif;
          $font-mono: Consolas, Menlo, "Courier New", monospace, monospace;
  %div#general-font-variables.element
    %h2.element-title
      %a.permalink{:href => "#general-font-variables"}
        General Font Variables
    .extendable-source
      / .comment
      /   :markdown
      /     - accepted values: 'meyer' (default
      %pre.scss
        :preserve
          $font-body: $font-serifs;
          $font-headline: $font-sans;
          $font-logo: $font-sans;
  %div#special-font-variables.element
    %h2.element-title
      %a.permalink{:href => "#special-font-variables"}
        Special use font variables
    .extendable-source
      .comment
        :markdown
          - ampersands
          - caps
      %pre.scss
        :preserve
          $font-amp: $font-serifs;
          $font-cap: $font-sans;
