// HOW TO USE THIS FILE: 
  The Coding Designer's Survival Kit includes many default font variables over in 
  "kit_partials/variables/_fonts.sass"
  You should leave that file active and add your own color-related variables here.
  
  
// @import font_face

$font-sans: sans-serif
$font-serifs: Georgia, serif
$font-mono: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif

// declare typekit fonts
// $font-my-webfont: my-webfont-1,my-webfont-2, $font-serifs

$font-body: $font-serifs
$font-headline: $font-sans
$font-logo: $font-sans

// special use font stacks
// ampersands
$font-amp: GoudyBookletter1911Regular, 'Goudy Old Style', Baskerville, Palatino,  $font-serifs
// CAPS
$font_cap: $font-sans