@import "compass/css3/font-face";

// available fonts:
// all, regular, light, bold, black
@mixin ostrich-font-face($fonts: all) {
  $all-fonts: regular, light, bold, black;
  @if $fonts == all {
    $fonts: $all-fonts;
  }
  @each $font in $fonts {
    @for $i from 1 through length($all-fonts) {
      @if $font == nth($all-fonts, $i) {
        $weight: normal;
        $style: normal;
        @if $font == italic {
          $style: italic;
        }
        @if $font == condensed-italic {
          $style: italic;
        }
        @include font-face(
          'Ostrich',
          font-files(
            "ostrich-#{$font}-webfont.woff", woff,
            "ostrich-#{$font}-webfont.ttf", truetype,
            "ostrich-#{$font}-webfont.svg#ostrich#{$font}", svg
          ),
          'ostrich-#{$font}-webfont.eot',
          $weight,
          $style);
      }
    }
  }
}

// available fonts:
// dashed
@mixin ostrich-dashed-font-face() {
  @include font-face(
    'Ostrich Dashed',
    font-files(
      "ostrich-dashed-webfont.woff", woff,
      "ostrich-dashed-webfont.ttf", truetype,
      "ostrich-dashed-webfont.svg#ostrich-dashed", svg
    ),
    'ostrich-dashed-webfont.eot',
    normal,
    normal);
}
// available fonts:
// rounded
@mixin ostrich-rounded-font-face() {
  @include font-face(
    'Ostrich Rounded',
    font-files(
      "ostrich-rounded-webfont.woff", woff,
      "ostrich-rounded-webfont.ttf", truetype,
      "ostrich-rounded-webfont.svg#ostrich-rounded#", svg
    ),
    'ostrich-rounded-webfont.eot',
    normal,
    normal);
}
