%nav
  %ul
    %li
      %a{:href => "/survivalkit/elements-common"} Common Markup
    %li
      %a{:href => "/survivalkit/elements-html5"} Common HTML5
    %li
      %a{:href => "/survivalkit/elements-typography"} Typography
    %li
      %a{:href => "/survivalkit/elements-ui-patterns-drupal"} Drupal UI Patterns
    %li
      %a{:href => "/survivalkit/elements-ui-patterns"} UI Patterns
    %li
      %a{:href => "/survivalkit/styletile"} Style Tile