%div#aside.element
  %h2.element-title
    %a{:href => "http://developers.whatwg.org/sections.html#the-aside-element"} Aside
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/sections.html#the-aside-element"} aside
    element
    %a{:href => "http://developers.whatwg.org/sections.html#represents"} represents
    a section of a page that consists of content that is tangentially related to the content around the
    %code
      %a{:href => "http://developers.whatwg.org/sections.html#the-aside-element"} aside
    element, and which could be considered separate from that content. Such sections are often represented as sidebars in printed typography.
  .markup
    %aside
      %h1 Switzerland
      %p
        Switzerland, a land-locked country in the middle of geographic
        Europe, has not joined the geopolitical European Union, though it is
        a signatory to a number of European treaties.
