%div#dl.element
  %hgroup
    %h2.element-title
      %a{:href => "http://developers.whatwg.org/grouping-content.html#the-dl-element"} dl
    %h3.element-title
      %a{:href => "http://developers.whatwg.org/grouping-content.html#the-dt-element"} dt
    %h3.element-title
      %a{:href => "http://developers.whatwg.org/grouping-content.html#the-dd-element"} dd
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/grouping-content.html#the-dl-element"} dl
    element
    %a{:href => "http://developers.whatwg.org/grouping-content.html#represents"} represents
    an association list consisting of zero or more name-value groups (a description list). Each group must consist of one or more names (
    %code
      %a{:href => "http://developers.whatwg.org/grouping-content.html#the-dt-element"} dt
    elements) followed by one or more values (
    %code
      %a{:href => "http://developers.whatwg.org/grouping-content.html#the-dd-element"} dd
    elements). Within a single
    %code
      %a{:href => "http://developers.whatwg.org/grouping-content.html#the-dl-element"} dl
    element, there should not be more than one
    %code
      %a{:href => "http://developers.whatwg.org/grouping-content.html#the-dt-element"} dt
    element for each name.
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/grouping-content.html#the-dt-element"} dt
    element
    %a{:href => "http://developers.whatwg.org/grouping-content.html#represents"} represents
    the term, or name, part of a term-description group in a description list (
    %code
      %a{:href => "http://developers.whatwg.org/grouping-content.html#the-dl-element"} dl
    element).
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/grouping-content.html#the-dd-element"} dd
    element
    %a{:href => "http://developers.whatwg.org/grouping-content.html#represents"} represents
    the description, definition, or value, part of a term-description group in a description list (
    %code
      %a{:href => "http://developers.whatwg.org/grouping-content.html#the-dl-element"} dl
    element).
  .markup
    %dl
      %dt
        Authors
        %dd
          John
          %dd
            Luke
            %dt
              Editor
              %dd
                Frank
  .markup
    %dl
      %dt{:lang => "en-US"}
        %dfn color
      %dt{:lang => "en-GB"}
        %dfn colour
      %dd
        A sensation which (in humans) derives from the ability of
        the fine structure of the eye to distinguish three differently
        filtered analyses of a view.
