%div#figure.element
  %hgroup
    %h2.element-title
      %a{:href => "http://developers.whatwg.org/grouping-content.html#the-figure-element"} figure
    %h3.element-title
      %a{:href => "http://developers.whatwg.org/grouping-content.html#the-figcaption-element"} figcaption
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/grouping-content.html#the-figure-element"} figure
    element
    %a{:href => "http://developers.whatwg.org/grouping-content.html#represents"} represents
    some
    = succeed "," do
      %a{:href => "content-models.html#flow-content"} flow content
    optionally with a caption, that is self-contained and is typically referenced as a single unit from the main flow of the document.
  %p The element can thus be used to annotate illustrations, diagrams, photos, code listings, etc, that are referred to from the main content of the document, but that could, without affecting the flow of the document, be moved away from that primary content, e.g. to the side of the page, to dedicated pages, or to an appendix.
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/grouping-content.html#the-figcaption-element"} figcaption
    element child of the element, if any, represents the caption of the
    %code
      %a{:href => "http://developers.whatwg.org/grouping-content.html#the-figure-element"} figure
    element's contents. If there is no child
    %code
      %a{:href => "http://developers.whatwg.org/grouping-content.html#the-figcaption-element"} figcaption
    element, then there is no caption.
  .markup
    %p
      In
      %a{:href => "http://developers.whatwg.org/grouping-content.html#l4"} listing 4
      we see the primary core interface
      API declaration.
    %figure#l4
      %figcaption Listing 4. The primary core interface API declaration.
      %pre
        %code
          :preserve
            interface PrimaryCore {
                         boolean verifyDataLine();
                         void sendData(in sequence<byte> data);
                         void initSelfDestruct();
                        }      %p The API is designed to use UTF-8.
  .markup
    %figure
      %img{:alt => "Bubbles, sitting in his office chair, works on his latest project intently.", :src => "http://dummyimage.com/100x100/ccc/fff"}/
      %figcaption Bubbles at work
