%div#label.element
  %h2.element-title
    %a{:href => "http://developers.whatwg.org/forms.html#the-label-element"} label
  .markup
    %p
      %label
        Full name:
        %input{:name => "fn"}
          %small Format: First Last
    %p
      %label
        Age:
        %input{:min => "0", :name => "age", :type => "number"}/
    %p
      %label
        Post code:
        %input{:name => "pc"}
          %small Format: AB12 3CD
