%div#ol.element
  %h2.element-title
    %a{:href => "http://developers.whatwg.org/grouping-content.html#the-ol-element"} ol
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/grouping-content.html#the-ol-element"} ol
    element
    %a{:href => "http://developers.whatwg.org/grouping-content.html#represents"} represents
    a list of items, where the items have been intentionally ordered, such that changing the order would change the meaning of the document.
  .markup
    %p
      I have lived in the following countries (given in the order of when
      I first lived there):
    %ol
      %li
        Switzerland
        %li
          United Kingdom
          %li
            United States
            %li
              Norway
