- @title = "Functions → Calculations"
- @subnav = "<nav class='section-nav'></nav> "

/ Calculations
%section#helpers.element-group
  %h1.section-title Calculations
  %p.intro
    :markdown
      Generic function to calculate a percentage based on pixel values
      (independent of any specific grid system)
  %div.example
    %h3.extendable
      %a.permalink{:href => "#function-calc-percent"}
        :preserve
          calc-percent
    #function-calc-percent.extendable-source
      %pre.scss
        :preserve
          @function calc-percent($target, $container) {
            @return $target / $container * 100%;
          }
      %pre.sass
        :preserve
          @function calc-percent($target, $container)
            @return ($target / $container) * 100%
  %div.example
    %h3.extendable
      %a.permalink{:href => "#function-calc-em"}
        :preserve
          calc-em
    #function-calc-em.extendable-source
      %pre.scss
        :preserve
          @function calc-em($target, $container) {
            @return $target / $container * 1em;
          }
      %pre.sass
        :preserve
          @function calc-em($target, $container: $base-font-size)
            @return ($target / $container) * 1em
  %div.example
    %h3.extendable
      %a.permalink{:href => "#function-cp"}
        :preserve
          'cp'
    #function-cp.extendable-source
      .comment
        shortcut name
      %pre.scss
        :preserve
          @function cp($args...) {
            @return calc-percent($args...);
          }
      %pre.sass
        :preserve
          @function cp($args...)
            @return calc-percent($args...)
  %div.example
    %h3.extendable
      %a.permalink{:href => "#function-ce"}
        :preserve
          'ce'
    #function-ce.extendable-source
      .comment
        shortcut name
      %pre.scss
        :preserve
          @function ce($args...) {
            @return calc-em($args...);
          }
      %pre.sass
        :preserve
          @function ce($args...)
            @return calc-em($args...)
