- @title = "Variables → Helpers"


/ Helpers
%section#helpers.element-group
  %h1.section-title Helpers
  %p.intro
    Variables that help.
  %div.element
    %h2.element-title
      Helper Variables
    %table
      %thead
        %tr
          %td
            Variable
          %td
            Value
      %tr
        %td.variable
          $space
        %td.value
          '\0020'
