%article#form-login.element
  %h2.element-title Log In Form
  .markup
    #block-system-main.block.block-system
      .content
        %form#user-login{"accept-charset" => "UTF-8", :action => "/user", :method => "post"}
          %div
            .form-item.form-type-textfield.form-item-name
              %label{:for => "edit-name"}
                Username
                %span.form-required{:title => "This field is required."} *
              %input#edit-name.form-text.required{:maxlength => "60", :name => "name", :size => "60", :type => "text", :value => ""}
                .description Enter your d7 username.
            .form-item.form-type-password.form-item-pass
              %label{:for => "edit-pass"}
                Password
                %span.form-required{:title => "This field is required."} *
              %input#edit-pass.form-text.required{:maxlength => "128", :name => "pass", :size => "60", :type => "password", :value => ""}
                .description Enter the password that accompanies your username.
            %input{:name => "form_build_id", :type => "hidden", :value => "form-XW71tLWvMNpumkgW-wKMOpDRUN0cPt62fr5Q0M7KNzo"}
              %input{:name => "form_id", :type => "hidden", :value => "user_login"}
                #edit-actions.form-actions.form-wrapper
                  %input#edit-submit.form-submit{:name => "op", :type => "submit", :value => "Log in"}