%div#bdi-el.element
  %h2.element-title
    bdi
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-bdi-element"} bdi
    element
    %a{:href => "http://developers.whatwg.org/text-level-semantics.html#represents"} represents
    a span of
    text that is to be isolated from its surroundings for the purposes
    of bidirectional text formatting.
    %a{:href => "references.html#refsBIDI"} [BIDI]
  .markup
    %ul
      %li
        User
        = succeed ":" do
          %bdi jcranmer
        12 posts.
        %li
          User
          = succeed ":" do
            %bdi hober
          5 posts.
          %li
            User
            = succeed ":" do
              %bdi إيان
            3 posts.
