%div#fieldset-el.element
  %h2.element-title
    fieldset
  .markup
    %fieldset{:disabled => "", :name => "clubfields"}
      %legend
        %label
          Use Club Card
        %input{:name => "club", :onchange => "form.clubfields.disabled = !checked", :type => "checkbox"}/
      %p
        %label
          Name on card:
          %input{:name => "clubname", :required => ""}/
      %p
        %label
          Card number:
          %input{:name => "clubnum", :pattern => "[-0-9]+", :required => ""}/
      %p
        %label
          Expiry date:
          %input{:name => "clubexp", :type => "month"}/
  .markup
    %fieldset{:disabled => "", :name => "clubfields"}
      %legend
        %label
          Use Club Card
          %input{:name => "club", :onchange => "form.clubfields.disabled = !checked", :type => "checkbox"}/
      %p
        %label
          Name on card:
          %input{:name => "clubname", :required => ""}/
      %fieldset{:name => "numfields"}
        %legend
          %label
            My card has numbers on it
            %input{:checked => "", :name => "clubtype", :onchange => "form.numfields.disabled = !checked", :type => "radio"}/
        %p
          %label
            Card number:
            %input{:name => "clubnum", :pattern => "[-0-9]+", :required => ""}/
      %fieldset{:disabled => "", :name => "letfields"}
        %legend
          %label
            My card has letters on it
            %input{:name => "clubtype", :onchange => "form.letfields.disabled = !checked", :type => "radio"}/
        %p
          %label
            Card code:
            %input{:name => "clublet", :pattern => "[A-Za-z]+", :required => ""}/
