%div#sample-forms-el.element
  %h2.element-title Sample Forms
  .markup
    %form{:action => "https://pizza.example.com/order.cgi", :enctype => "application/x-www-form-urlencoded", :method => "post"}
      %p
        %label
          Customer name:
          %input{:name => "custname", :required => ""}/
      %p
        %label
          Telephone:
          %input{:name => "custtel", :type => "tel"}/
      %p
        %label
          E-mail address:
          %input{:name => "custemail", :type => "email"}/
      %fieldset
        %legend Pizza Size
        %p
          %label
            Small
            %input{:name => "size", :type => "radio", :value => "small"}/
        %p
          %label
            Medium
            %input{:name => "size", :type => "radio", :value => "medium"}/
        %p
          %label
            Large
            %input{:name => "size", :type => "radio", :value => "large"}/
      %fieldset
        %legend Pizza Toppings
        %p
          %label
            Bacon
            %input{:name => "topping", :type => "checkbox", :value => "bacon"}/
        %p
          %label
            Extra Cheese
            %input{:name => "topping", :type => "checkbox", :value => "cheese"}/
        %p
          %label
            Onion
            %input{:name => "topping", :type => "checkbox", :value => "onion"}/
        %p
          %label
            Mushroom
            %input{:name => "topping", :type => "checkbox", :value => "mushroom"}/
      %p
        %label
          Preferred delivery time:
          %input{:max => "21:00", :min => "11:00", :name => "delivery", :required => "", :step => "900", :type => "time"}/
      %p
        %label
          Delivery instructions:
          %textarea{:maxlength => "1000", :name => "comments"}
      %p
        %button Submit order
        %p
