%div#table-el.element
  %h2.element-title
    Table
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/tabular-data.html#the-table-element"} table
    element
    %a{:href => "http://developers.whatwg.org/tabular-data.html#represents"} represents
    data with
    more than one dimension, in the form of a
    = succeed "." do
      %a{:href => "http://developers.whatwg.org/tabular-data.html#concept-table", :title => "concept-table"} table
  .markup
    %p
      In the following table, characteristics are given in the second
      column, with the negative side in the left column and the positive
      side in the right column.
    %table
      %caption Characteristics with positive and negative sides
      %thead
        %tr
          %th#n
            Negative
            %th
              Characteristic
              %th
                Positive
                %tbody
                  %tr
                    %td{:headers => "n r1"}
                      Sad
                      %th#r1
                        Mood
                        %td
                          Happy
                          %tr
                            %td{:headers => "n r2"}
                              Failing
                              %th#r2
                                Grade
                                %td
                                  Passing
  .markup
    %table
      %caption
        %strong Characteristics with positive and negative sides.
        %p
          Characteristics are given in the second column, with the
          negative side in the left column and the positive side in the right
          column.
      %thead
        %tr
          %th#n
            Negative
            %th
              Characteristic
              %th
                Positive
                %tbody
                  %tr
                    %td{:headers => "n r1"}
                      Sad
                      %th#r1
                        Mood
                        %td
                          Happy
                          %tr
                            %td{:headers => "n r2"}
                              Failing
                              %th#r2
                                Grade
                                %td
                                  Passing
  .markup
    %table
      %caption
        %strong Characteristics with positive and negative sides.
        %details
          %summary Help
          %p
            Characteristics are given in the second column, with the
            negative side in the left column and the positive side in the right
            column.
      %thead
        %tr
          %th#n
            Negative
            %th
              Characteristic
              %th
                Positive
                %tbody
                  %tr
                    %td{:headers => "n r1"}
                      Sad
                      %th#r1
                        Mood
                        %td
                          Happy
                          %tr
                            %td{:headers => "n r2"}
                              Failing
                              %th#r2
                                Grade
                                %td
                                  Passing
  .markup
    %figure
      %figcaption Characteristics with positive and negative sides
      %p
        Characteristics are given in the second column, with the
        negative side in the left column and the positive side in the right
        column.
      %table
        %thead
          %tr
            %th#n
              Negative
              %th
                Characteristic
                %th
                  Positive
                  %tbody
                    %tr
                      %td{:headers => "n r1"}
                        Sad
                        %th#r1
                          Mood
                          %td
                            Happy
                            %tr
                              %td{:headers => "n r2"}
                                Failing
                                %th#r2
                                  Grade
                                  %td
                                    Passing
  .markup
    %figure
      %figcaption
        %strong Characteristics with positive and negative sides
        %p
          Characteristics are given in the second column, with the
          negative side in the left column and the positive side in the right
          column.
      %table
        %thead
          %tr
            %th#n
              Negative
              %th
                Characteristic
                %th
                  Positive
                  %tbody
                    %tr
                      %td{:headers => "n r1"}
                        Sad
                        %th#r1
                          Mood
                          %td
                            Happy
                            %tr
                              %td{:headers => "n r2"}
                                Failing
                                %th#r2
                                  Grade
                                  %td
                                    Passing
  .markup
    %table
      %caption Characteristics with positive and negative sides
      %thead
        %tr
          %th
            Characteristic
            %th
              Negative
              %th
                Positive
                %tbody
                  %tr
                    %th
                      Mood
                      %td
                        Sad
                        %td
                          Happy
                          %tr
                            %th
                              Grade
                              %td
                                Failing
                                %td
                                  Passing
