/* Images -------------------------------------------------------------- */

img {
  border: 0;
  vertical-align: text-bottom;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  &.left {
    float: left;
    margin: $kit-baseline-half $kit-gutter $kit-baseline-half 0; }
  &.right {
    float: right;
    margin: $kit-baseline-half 0 $kit-baseline-half $kit-gutter; } }
