/* Links -------------------------------------------------------------- */
a {
  @include link-colors($alt-color, complement($alt-color), complement($alt-color), $alt-color, false);
  @include better-links($alt-color, complement($alt-color), complement($alt-color), $alt-color, false);
  // +link-transitions
}

em {
  @extend .italic; }

strong {
  @extend .bold; }

small {
  @include adjust-font-size-to(ms(-1)); }

s {}

cite {
  @extend .italic; }

q {
  @extend .italic;
  quotes: "“" "”";
  &:before {
    content: open-quote; }
  &:after {
    content: close-quote; } }

dfn {
  @extend .bold;
  @extend .italic; }

abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help; }

time {}

code {
  @extend .mono; }

var {}

samp {}

kbd {
  @extend .mono; }

tt {
  @extend .mono; }

sup, sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

i {
  @extend .italic; }

b {
  @extend .bold; }

u {}

mark {
  background: $red;
  background-color: rgba($yellow, 0.5);
  text-shadow: none; }

ruby {}

rt {}

rp {}

bdi {}

bdo {}
