// This file establishes simple clean default font stacks

// Default font stacks
$font-sans: sans-serif;
$font-serifs: Georgia, serif;
$font-mono: Consolas, Menlo, "Courier New", monospace, monospace;

// General font variables
$font-body: $font-serifs;
$font-headline: $font-sans;
$font-logo: $font-sans;

// Special use font variables
// ampersands
$font-amp: $font-serifs;
// caps
$font-cap: $font-sans;


////////////////////////////
// FONT-AWESOME
// uncomment to include
// http://fortawesome.github.com/Font-Awesome/
////////////////////////////
// @import 'survivalkit/fonts/font-awesome';

////////////////////////////
// SYMBOLSET - STANDARD
// uncomment to include
// http://symbolset.com/
// NOTE: mixin only includes sass/css
// purchase the font and place in your fonts directory
////////////////////////////
// @import 'survivalkit/fonts/ss-standard';

////////////////////////////
// SYMBOLSET - SOCIAL
// uncomment to include
// http://symbolset.com/
// NOTE: mixin only includes sass/css
// purchase the font and place in your fonts directory
////////////////////////////
// @import 'survivalkit/fonts/ss-social';

////////////////////////////
// League Gothic
// uncomment to include
// http://www.theleagueofmoveabletype.com/league-gothic
////////////////////////////
// @import 'survivalkit/fonts/league-gothic';

////////////////////////////
// OSTRICH SANS
// uncomment to include
// http://www.theleagueofmoveabletype.com/ostrich-sans
////////////////////////////
// @import 'survivalkit/fonts/ostrich-sans';
