- @title = "UI Patterns"
- @subnav = "<nav class='section-nav'></nav> "


%section#simple-patterns.element-group
  %h1.section-title Common Patterns
  = render :template => "/survivalkit/partials/patterns-general/_nested-menu.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_messages.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_pager.haml"
















