header.kit-ui {
  zoom: 1;
}
header.kit-ui:after {
  content: "\0020";
  display: table;
  clear: both;
}

img, table {
  max-width: 100%;
}

em, address, cite, q, dfn, i {
  font-style: italic;
}

strong, dfn, b {
  font-weight: bold;
}

.menu-trigger:before, .fold-section-open:before,
.fold-article-open:before, .fold-section-close:before,
.fold-article-close:before, .menu-trigger, .fold-section,
.fold-article {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

.menu-trigger:before {
  content: "\f00b";
}

.fold-section-open:before,
.fold-article-open:before {
  content: "\f055";
}

.fold-section-close:before,
.fold-article-close:before {
  content: "\f057";
}

pre, code, kbd, tt, div.element .example .markup + .show-source {
  font-family: Consolas, Menlo, "Courier New", monospace, monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 1em 0;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
  /* 1 */
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

body {
  font-family: Georgia, serif;
  color: black;
  background: white;
}

::-moz-selection {
  color: white;
  background: #bada55;
  text-shadow: none;
}

::selection {
  color: white;
  background: #bada55;
  text-shadow: none;
}

a {
  color: #bada55;
}
a:visited {
  color: #bada55;
}
a:focus {
  color: #bada55;
}
a:hover {
  color: #7555da;
}
a:active {
  color: #7555da;
}

p {
  margin-bottom: 1.5em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1;
}

dl {
  margin-left: 0;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}
li ul {
  list-style-type: circle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.625em;
  line-height: 1.14286em;
}

h2 {
  font-size: 2.4375em;
  line-height: 1.23077em;
}

h3 {
  font-size: 1.9375em;
  line-height: 1.54839em;
}

h4 {
  font-size: 1.625em;
  line-height: 1.84615em;
}

h5 {
  font-size: 1.5625em;
  line-height: 1.92em;
}

h6 {
  font-size: 1.25em;
  line-height: 1.2em;
}

img {
  height: auto;
  vertical-align: text-bottom;
}
img.left {
  float: left;
  margin: 12px 25px 12px 0;
}
img.right {
  float: right;
  margin: 12px 0 12px 25px;
}

small {
  font-size: 0.8125em;
  line-height: 1.84615em;
}

q {
  quotes: "“" "”";
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}

abbr, acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

sup, sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

mark {
  background: red;
  background-color: rgba(255, 255, 0, 0.5);
  text-shadow: none;
}

@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('eot'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

header.kit-ui {
  padding: 0.5em 0.5em 0;
  background: #333333;
  border-bottom: 1px solid black;
}

.kit-ui {
  background: #666666;
  font-family: Georgia, serif;
  color: #cccccc;
  margin-bottom: 0;
  overflow: hidden;
  *zoom: 1;
}
.kit-ui a {
  color: white;
}
.kit-ui a:visited {
  color: white;
}
.kit-ui a:hover {
  color: #cccccc;
}
.kit-ui a:active {
  color: #cccccc;
}
.kit-ui a {
  text-decoration: none;
  border-bottom: 1px solid white;
}
.kit-ui a:visited {
  border-bottom-color: white;
}
.kit-ui a:hover {
  border-bottom-color: #cccccc;
}
.kit-ui a:active {
  border-bottom-color: #cccccc;
}
.kit-ui h1, .kit-ui h2, .kit-ui div {
  display: inline;
}
.kit-ui h1 {
  font-size: 1em;
  line-height: 1.5em;
  float: left;
  padding-right: 0.5em;
  margin-right: 0.5em;
  font-family: futura, Georgia, serif;
}
.kit-ui h1 a {
  display: block;
}
.kit-ui h1 a {
  text-decoration: none;
  border-bottom: none;
}
.kit-ui h1 a:visited {
  border-bottom: none;
}
.kit-ui h1 a:focus {
  border-bottom: none;
}
.kit-ui h1 a:hover {
  border-bottom: none;
}
.kit-ui h1 a:active {
  border-bottom: none;
}
.kit-ui .page-info {
  border-left: 1px solid white;
  float: left;
  padding-left: 0.5em;
}
.kit-ui .page-info a {
  text-decoration: none;
  border-bottom: none;
}
.kit-ui .page-info a:visited {
  border-bottom: none;
}
.kit-ui .page-info a:focus {
  border-bottom: none;
}
.kit-ui .page-info a:hover {
  border-bottom: none;
}
.kit-ui .page-info a:active {
  border-bottom: none;
}
.kit-ui h2 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 0;
  font-family: Georgia, serif;
  margin-right: 1em;
}
.kit-ui .intro {
  font-size: 0.875em;
  line-height: 1.71429em;
}

.menu-trigger {
  float: left;
  min-width: 2.75em;
  min-height: 2.75em;
  margin-top: -0.5em;
  border-bottom-width: 0 !important;
  border-bottom-color: transparent !important;
}
.menu-trigger:before {
  font-size: 24px;
  line-height: 1.83333em;
}

.jPanelMenu #menu {
  display: none;
}

#jPanelMenu-menu {
  background: #444444;
  font-family: Georgia, serif;
  color: #cccccc;
}

.kit-nav, .section-nav {
  margin-bottom: 16px;
  padding: 0 0.5em;
}
.kit-nav h1, .kit-nav h2, .kit-nav h3, .kit-nav h4, .kit-nav h5, .kit-nav h6, .section-nav h1, .section-nav h2, .section-nav h3, .section-nav h4, .section-nav h5, .section-nav h6 {
  font-size: 16px;
}
.kit-nav a, .section-nav a {
  color: white;
}
.kit-nav a:visited, .section-nav a:visited {
  color: white;
}
.kit-nav a:hover, .section-nav a:hover {
  color: black;
}
.kit-nav a:active, .section-nav a:active {
  color: black;
}
.kit-nav a, .section-nav a {
  text-decoration: none;
  border-bottom: none;
}
.kit-nav a:visited, .section-nav a:visited {
  border-bottom: none;
}
.kit-nav a:focus, .section-nav a:focus {
  border-bottom: none;
}
.kit-nav a:hover, .section-nav a:hover {
  border-bottom: none;
}
.kit-nav a:active, .section-nav a:active {
  border-bottom: none;
}
.kit-nav ul, .section-nav ul {
  list-style: none;
  padding-left: 0;
}
.kit-nav ul li, .section-nav ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

.no-js body,
body.documentation {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-box-align: stretch;
  box-align: stretch;
  padding-top: 44px;
}
.no-js body header.kit-ui,
body.documentation header.kit-ui {
  position: fixed;
  width: 100%;
  height: 44px;
  margin-top: -44px;
}
.no-js body #menu,
body.documentation #menu {
  width: auto;
  max-width: 250px;
  margin-right: 1em;
}

h1.section-title {
  font-size: 1em;
  line-height: 1.5em;
  text-transform: uppercase;
  padding-left: 0.5em;
  margin-top: 0;
  border-bottom: 1px solid #666666;
}

.fold-section,
.fold-article {
  color: #666666;
  border-bottom-width: 0 !important;
  border-bottom-color: transparent !important;
}
.fold-section,
.fold-article {
  text-decoration: none;
  border-bottom: none;
}
.fold-section:visited,
.fold-article:visited {
  border-bottom: none;
}
.fold-section:focus,
.fold-article:focus {
  border-bottom: none;
}
.fold-section:hover,
.fold-article:hover {
  border-bottom: none;
}
.fold-section:active,
.fold-article:active {
  border-bottom: none;
}
.fold-section:visited,
.fold-article:visited {
  color: #666666;
}
.fold-section:hover,
.fold-article:hover {
  color: #cccccc;
}
.fold-section:active,
.fold-article:active {
  color: #cccccc;
}

.fold-section,
.fold-article {
  margin-left: 1em;
}

.fold-article {
  color: #cccccc;
}
.fold-article:visited {
  color: #cccccc;
}
.fold-article:hover {
  color: #666666;
}
.fold-article:active {
  color: #666666;
}

div.element {
  padding-bottom: 44px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}
div.element.closed {
  padding-bottom: 0;
}
div.element h2.element-title {
  font-size: 1em;
  line-height: 1.5em;
  border-bottom: 1px solid #cccccc;
  text-transform: uppercase;
  padding-left: 0.5em;
}
div.element .example {
  *zoom: 1;
  border-bottom: 1px dashed rgba(128, 128, 128, 0.1);
  margin-bottom: 12px;
  padding-bottom: 11px;
  *zoom: 1;
}
div.element .example:after {
  content: "";
  display: table;
  clear: both;
}
div.element .example:last-child {
  padding-bottom: 0;
  border-bottom-width: 0;
  margin-bottom: 0;
}
div.element .example:after {
  content: "";
  display: table;
  clear: both;
}
div.element .example .markup {
  display: inline;
  float: left;
  width: 64.228%;
  margin-right: 2.439%;
}
div.element .example .markup + .show-source {
  display: inline;
  float: right;
  width: 30.894%;
  margin-right: 0;
}
div.element .example .markup + .show-source .show-hide {
  text-align: right;
}
div.element .example .markup + .show-source + p {
  clear: both;
}
