// DEFAULT COLORS
$c-primary: $badass;
$c-secondary: $black;
$c-tertiary: $black;
$c-quadrary: $black;

// COLOR SCHEMES
// use color-schemer if it's loaded
@if $color-schemer-loaded {
  // Color schemes to choose from
  // mono, complement, triad, tetrad, analogic, accented-analogic
  // Pick the base color for your scheme:
  $base-color: $c-primary;
  // Select your scheme from the list and place it here:
  $color-scheme: accented-analogic;
  // How distant do you want the hue offset to be:
  $hue-offset: 30;
  // How distant do you want tints and shades to be from their base:
  $brightness-offset: 10%;
  // Use Claude Boutet complements instead of RGB complements.
  // $color-theory: boutet
  // Set saturation to 100% and lightness to 50% on all colors
  // $equalize: true
  $c-primary: color-schemer(primary);
  $c-secondary: color-schemer(secondary);
  $c-tertiary: color-schemer(tertiary);
  $c-quadrary: color-schemer(quadrary);
}

// COLOR VARIABLES FOR STYLE TILES
// enable and customize as needed
$color-tile1-1: $gray;
$color-tile1-2: $gray;
$color-tile1-3: $gray;
$color-tile1-4: $gray;
$color-tile1-5: $gray;
$color-tile1-6: $gray;

// Color variables expected by _defaults.sass ------------------
$base-color: $c-primary;
$text-color: $black;
$alt-color: $badass;
$background-color: $white;
$border-color: $gray;

// link colors
$link-normal: $alt-color;
$link-hover: complement($alt-color);
$link-active: complement($alt-color);
$link-visited: $alt-color;
$link-focus: $alt-color;
$link-border-normal: $alt-color;
$link-border-hover: complement($alt-color);
$link-border-active: complement($alt-color);
$link-border-visited: $alt-color;

