// DEFAULT COLORS

// COLOR SCHEMES
// experimental math-generated color schemes
// define a primary color to base these on
$primary: $white;

// COLOR VARIABLES FOR STYLE TILES
// enable and customize as needed
$color-tile1-1: $gray;
$color-tile1-2: $gray;
$color-tile1-3: $gray;
$color-tile1-4: $gray;
$color-tile1-5: $gray;
$color-tile1-6: $gray;

// Color variables expected by _defaults.sass ------------------
$base-color: $black;
$alt-color: $hotpink;
$background-color: $white;
$border-color: $gray;
