-# Choose which ui patterns to render
-# Simple markup Patterns
- @logos = true
- @headers = true
- @quote = true
- @type_sans = true
- @type_serifs = true
- @number_of_colors = 6
- @number_of_images = 6
