%div#taxonomy.element
  %h2.element-title Taxonomy List
  .markup
    .field.field-name-field-tags.field-type-taxonomy-term-reference.field-label-above
      .field-label Tags: 
      .field-items
        .field-item.even
          %a{:href => "/taxonomy/term/1"} foo
        .field-item.odd
          %a{:href => "/taxonomy/term/2"} bar
