%div#others-el.element
  %h2.element-title Other Elements
  .markup
    %h3 Subscript and superscript samples
    %p
      H
      %sub> 2
      O,
      %br/
      E = mc
      %sup> 2
      ,
      %br/
      The 14
      %sup th
      of September
    %h3 Insertion and deletion samples
    %p
      %ins{:datetime => "2009-07-12T08:15:30+02:00", :title => "Added new information according to suggestions"} This information was just added.
      %br/
      %del Whilte this information is no longer valid.
    %h3 Presentational elements
    %p
      %b Bold text
      %br/
      %i Italic text
      %br/
      %small Small
      %br/
    Horizontal rule:
    %hr/
