%div#strong-el.element
  %h2.element-title strong
  .markup
    %p
      This element stands for "stronger emphasis" and is used for marking more important text.
      %br/
      Sample:
      %strong This is text with stronger emphasis
