@import "../mixins/helpers";

%clearfix {
  @include kit-clearfix;
}

%hidden {
  @include hidden;
}

%visuallyhidden {
  @include visuallyhidden;
}

%visuallyhidden.focusable {
  @include visuallyhidden(true);
}

%invisible {
  @include invisible;
}

%constrain-to-parent {
  max-width: 100%;
}

%italic {
  font-style: italic;
}

%bold {
  font-weight: bold;
}

%wireframe {
  outline: 1px dashed $red;
}
