-# Icons

-# Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons

-# path to favicon, or set to false
- @favicon = "/favicon.ico"

-# For iPhone 4 with high-resolution Retina display, or set to false
- @touch_icon_114 = false

-# For first-generation iPad, or set to false
- @touch_icon_72 = false

-# For non-Retina iPhone, iPod Touch, and Android 2.1+ devices, or set to false
- @touch_icon_precomposed = false

-# Touch icon, or set to false
- @touch_icon = false


