-# Meta Tags

-# add the description tag
- @description = false
-# add the author tag
- @author = false

-# add Chrome Frame
- @chromeframe = false

-# mobilefriendly
-# Mobile viewport optimized: j.mp/bplateviewport
- @mobilefriendly = false

-# add your viewport settings, or set to false
- @viewport = "width=device-width, target-densitydpi=160, initial-scale=1.0"

-# apple-specific
- @apple_mobile_web_app_capable = false
- @apple_mobile_web_app_status_bar_style = false

-# microsoft-specific
- @cleartype = true
