-# Webfonts For Your Pleasure
-#  For Typekit, put in your Typekit Kit ID (uses advanced loading method)
-#  For Google Fonts, copy in the the families from inside the brackets [] from the JavaScript tab.
-#  Wrap your selection in "double quotes"
- @typekitID = false
- @googleFonts = false
