%div#tables-el.element
  %h2.element-title Tables
  .markup
    %table
      %caption
        Table title goes here
      %thead
        %tr
          %th Mauris
          %th Tempor
          %th Praesent lacus nulla
          %th Quis
      %tbody
        %tr.odd
          %td Mauris
          %td 23.000
          %td Suspendisse viverra
          %td Yes
        %tr.even
          %td Trupis
          %td 1.000
          %td Placerat tortor aesent semper
          %td No
        %tr.odd
          %td Sagittis
          %td 122.000
          %td Neque vel condimentum
          %td No
        %tr.even
          %td Libero
          %td 500
          %td Hendrerit, lectus elit pretium
          %td Yes
        %tr.odd
          %td Tristique
          %td 100.000
          %td Ligula nec consequat
          %td Yes
        %tr.even
          %td Id Neque
          %td 600.000
          %td Etiam sodales orci nec
          %td No
