%div#small-el.element
  %h2.element-title
    small
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-small-element"} small
    element
    %a{:href => "http://developers.whatwg.org/text-level-semantics.html#represents"} represents
    side
    comments such as small print.
  .markup
    %dl
      %dt
        Single room
        %dd
          199 €
          %small breakfast included, VAT not included
          %dt
            Double room
            %dd
              239 €
              %small breakfast included, VAT not included
  .markup
    %p
      Example Corp today announced record profits for the
      second quarter
      = succeed "," do
        %small
          (Full Disclosure: Foo News is a subsidiary of
          Example Corp)
      leading to speculation about a third quarter
      merger with Demo Group.
