- @title = "Mixins → layout"
- @subnav = "<nav class='section-nav'></nav> "

/ Layout
%section#layout.element-group
  %h1.section-title Layout
  %p.intro
    :markdown
      Mixins for layout.
  %div#mixin-vertical-separation.element
    %h2.element-title
      %a.permalink{:href => "#mixin-vertical-separation"}
        :preserve
          vertical-separation
    .extendable-source
      %pre.scss
        :preserve
          @mixin vertical-separation($margin: $kit-baseline, $divide: false, $bordercolor: $border-color, $borderstyle: solid) {
            @include pie-clearfix;
            @if $divide {
              border-bottom: $divide $borderstyle $bordercolor;
              margin-bottom: $margin * 0.5;
              padding-bottom: $margin * 0.5 - $divide;
            }
            @else {
              margin-bottom: $margin * 0.5;
              padding-bottom: $margin * 0.5;
              border-bottom: none;
            }
            &:last-child {
              padding-bottom: 0;
              border-bottom-width: 0;
              margin-bottom: 0;
            }
          }
  %div#mixin-un-vertical-separation.element
    %h2.element-title
      %a.permalink{:href => "#mixin-un-vertical-separation"}
        :preserve
          un-vertical-separation
    .extendable-source
      %pre.scss
        :preserve
          @mixin un-vertical-separation {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
          }
