- @title = "Mixins → pseudo"
- @subnav = "<nav class='section-nav'></nav> "

/ Pseudo Elements
%section#pseudo.element-group
  %h1.section-title Pseudo Elements
  %p.intro
    :markdown
      Mixins for pseudo elements.
  %div#mixin-pseudo.element
    %h2.element-title
      %a.permalink{:href => "#mixin-pseudo"}
        :preserve
          pseudo
    .extendable-source
      .comment
        &= "$side: can be 'before', 'after', or 'both'"
      %pre.scss
        :preserve
          @mixin pseudo($side: "before") {
            position: relative;
            @if $side == "both" {
              &:before, &:after {
                position: absolute;
              }
            }
            @else {
              &:#{$side} {
                position: absolute;
              }
            }
          }
