%article#acronym.element
  %h2.element-title acronym
  .markup
    %p
      Acronym / a word formed from the initial letters of other words.
      %br
        Sample acronyms:
        %acronym{:title => "eXtensible HyperText Markup Language"} XHTML