- @title = "Helper Extendables"


/ Helper Extendables
%section#helpers.element-group
  %h1.section-title Helper Extendables
  %p.intro
    :markdown
      Extendable classes.

      Remove if you don't need them.
  %div#clearfix.element
    %h2.element-title
      %a.permalink{:href => "#clearfix"}
        Clearfix
    .extendable-source
      .comment
        :markdown
          - the same as `%clearfix` but class-based.
          - Your CMS may use this class, so let's extend it.
          - Remove if you don't need it.
      %pre.scss
        :preserve
          .clearfix {
            @extend %clearfix;
          }
  %div#hidden.element
    %h2.element-title
      %a.permalink{:href => "#hidden"}
        Hidden
    .extendable-source
      .comment
        :markdown
          - the same as `%hidden` but class-based.
          - Your CMS may use this class, so let's extend it.
          - Remove if you don't need it.
      %pre.scss
        :preserve
          .hidden {
            @extend %hidden;
          }
