%article#kbd.element
  %h2.element-title
    %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-kbd-element"} kbd
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-kbd-element"} kbd
    element
    %a{:href => "http://developers.whatwg.org/text-level-semantics.html#represents"} represents
    user input
    (typically keyboard input, although it may also be used to represent
    other input, such as voice commands).
  .markup
    %p
      To make George eat an apple, press
      %kbd
        %kbd> Shift
        +
        %kbd F3