%nav.kit-nav
  %ul
    %li
      %a{:href => "/survivalkit/elements-common.html"} Common Markup
    %li
      %a{:href => "/survivalkit/elements-html5.html"} Common HTML5
    %li
      %a{:href => "/survivalkit/elements-typography.html"} Typography
    %li
      %a{:href => "/survivalkit/elements-ui-patterns-drupal.html"} Drupal UI Patterns
    / %li
    /   %a{:href => "/survivalkit/elements-ui-patterns.html"} UI Patterns
    %li
      %a{:href => "/survivalkit/styletile/styletile.html"} Style Tile
= @subnav
