// This file establishes simple clean default font stacks

// Default font stacks
$font-sans: sans-serif;
$font-serifs: Georgia, serif;
$font-mono: Consolas, Menlo, "Courier New", monospace, monospace;

// General font variables
$font-body: $font-serifs;
$font-headline: $font-sans;
$font-logo: $font-sans;

// Special use font variables
// ampersands
$font-amp: $font-serifs;
// caps
$font-cap: $font-sans;


////////////////////////////
// CUSTOM FONTS
// uncomment and customize with your own fonts
// place fonts in your fonts directory
////////////////////////////
// @include font-face(
//   myfont,
//   font-files(
//     'myfont-bold-webfont.woff',
//     'myfont-bold-webfont.ttf',
//     'myfont-bold-webfont.svg'),
//   'myfont-bold-webfont.eot',
//   'bold',
//   'normal');

////////////////////////////
// FONT-AWESOME
// uncomment to include
// http://fortawesome.github.com/Font-Awesome/
////////////////////////////
@import 'survivalkit/fonts/font-awesome';

////////////////////////////
// SYMBOLSET - STANDARD
// uncomment to include
// http://symbolset.com/
// NOTE: mixin only includes sass/css
// purchase the font and place in your fonts directory
////////////////////////////
// @import 'survivalkit/fonts/ss-standard';
// @include ss-standard-classes;

////////////////////////////
// SYMBOLSET - SOCIAL
// uncomment to include
// http://symbolset.com/
// NOTE: mixin only includes sass/css
// purchase the font and place in your fonts directory
////////////////////////////
// @import 'survivalkit/fonts/ss-social';
// @include ss-social-classes;

////////////////////////////
// League Gothic
// uncomment to include
// http://www.theleagueofmoveabletype.com/league-gothic
////////////////////////////
// @import 'survivalkit/fonts/league-gothic';

////////////////////////////
// OSTRICH SANS
// uncomment to include
// http://www.theleagueofmoveabletype.com/ostrich-sans
////////////////////////////
// @import 'survivalkit/fonts/ostrich-sans';
