%article#rss-link.element
  %h2.element-title RSS Link
  .markup
    %a.feed-icon{:href => "/rss.xml", :title => "Subscribe to d7 RSS"}
      %img{:alt => "Subscribe to d7 RSS", :src => "http://d7/misc/feed.png"}/