- @title = "Installation"
- @subnav = "<nav class='section-nav'></nav> "

/ Installation
%section#helpers.element-group
  %h1.section-title Installation
  %div.instructions
    :markdown
      ### Installation

        0. [Install Sass and Compass](http://compass-style.org/install/), if you haven't already.

        1. **Terminal**: `gem install survivalkit`

      #### For Existing Compass Projects

        1. Add `require 'survivalkit'` in Compass's config.rb file

        2. **Terminal**: navigate to your project directory:  `cd PATH_TO_YOUR_PROJECT`

        3. **Terminal**: `compass install survivalkit`

      #### For New Compass Projects

        1. **Terminal**: `compass create my_project -r survivalkit -u survivalkit --javascripts-dir js --css-dir css`
