- @title = "Reset"
- @subnav = "<nav class='section-nav'></nav> "

/ Reset
%section#helpers.element-group
  %h1.section-title Reset
  %p.intro
    :markdown
      Choose a CSS reset.
  %div.example
    %h3.mixin
      %a.permalink{:href => "#reset-init"}
        :preserve
          reset init
    #reset-init.extendable-source
      .comment
        :markdown
          - pick a reset or normalization
          - accepted values: 'meyer' (default), 'normalize', 'none'
          - choose to reset header sizes to 1em (applies to 'normalize' only)
          - Uses [Eric Meyer reset 2.x](http://meyerweb.com/eric/tools/css/reset/) and [Normalize](http://github.com/necolas/normalize.css)
          - use [Formalize](http://formalize.me)
      %pre.arguments
        :preserve
          $init-type: meyer !default;
          $init-headers: true !default;
      %pre.scss
        :preserve
          @mixin init($init-type, $init-headers) {
            @if $init-type == meyer {
              @include meyer-reset;
            }
            @if $init-type == normalize {
              @include normalize;
              @if $init-headers {
                // reset the header sizes
                h1, h2, h3, h4, h5, h6 {
                  font-size: 100%;
                  margin-top: 0;
                  margin-bottom: 0;
                }
              }
            }
          }
