%div#abbr.element
  %h2.element-title
    abbr
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-abbr-element"} abbr
    element
    %a{:href => "http://developers.whatwg.org/text-level-semantics.html#represents"} represents
    an
    abbreviation or acronym, optionally with its expansion. The
    %dfn#attr-abbr-title{:title => "attr-abbr-title"}
      %code title
    attribute may be
    used to provide an expansion of the abbreviation. The attribute, if
    specified, must contain an expansion of the abbreviation, and
    nothing else.
  .markup
    %p
      The
      %dfn#whatwg
        %abbr{:title => "Web Hypertext Application Technology Working Group"} WHATWG
      is a loose unofficial collaboration of Web browser manufacturers and
      interested parties who wish to develop new technologies designed to
      allow authors to write and deploy Applications over the World Wide
      Web.
