%div#article.element
  %h2.element-title
    Article
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/sections.html#the-article-element"} article
    element
    %a{:href => "http://developers.whatwg.org/sections.html#represents"} represents
    a self-contained composition in a document, page, application, or site and that is, in principle, independently distributable or reusable, e.g. in syndication. This could be a forum post, a magazine or newspaper article, a blog entry, a user-submitted comment, an interactive widget or gadget, or any other independent item of content.
  .markup
    %article
      %header
        %h1 The Very First Rule of Life
        %p
          %time{:datetime => "2009-10-09T14:28-08:00", :pubdate => ""}
      %p
        If there's a microphone anywhere near you, assume it's hot and
        sending whatever you're saying to the world. Seriously.
      %p …
      %footer
        %a{:href => "?comments=1"} Show comments...
