%article#b.element
  %h2.element-title
    b
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-b-element"} b
    element
    %a{:href => "http://developers.whatwg.org/text-level-semantics.html#represents"} represents
    a span of text
    to be stylistically offset from the normal prose without conveying
    any extra importance, such as key words in a document abstract,
    product names in a review, or other spans of text whose typical
    typographic presentation is boldened.
  .markup
    %p
      The
      %b frobonitor
      and
      %b barbinator
      components are fried.
