%article#cite.element
  %h2.element-title
    cite
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-cite-element"} cite
    element
    %a{:href => "http://developers.whatwg.org/text-level-semantics.html#represents"} represents
    the title
    of a work (e.g.
    a book,
    a paper,
    an essay,
    a poem,
    a score,
    a song,
    a script,
    a film,
    a TV show,
    a game,
    a sculpture,
    a painting,
    a theatre production,
    a play,
    an opera,
    a musical,
    an exhibition,
    a legal case report,
    etc). This can be a work that is being quoted or
    referenced in detail (i.e. a citation), or it can just be a work
    that is mentioned in passing.
  .markup
    %p
      My favorite book is
      %cite The Reality Dysfunction
      by
      Peter F. Hamilton. My favorite comic is
      %cite
        Pearls Before
        Swine
      by Stephan Pastis. My favorite track is
      %cite
        Jive
        Samba
      by the Cannonball Adderley Sextet.
