%div#details.element
  %h2.element-title
    details
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/interactive-elements.html#the-details-element"} details
    element
    %a{:href => "http://developers.whatwg.org/interactive-elements.html#represents"} represents
    a
    disclosure widget from which the user can obtain additional
    information or controls.
  .markup
    %section.progress.window
      %h1 Copying "Really Achieving Your Childhood Dreams"
      %details
        %summary
          Copying...
          %progress{:max => "375505392", :value => "97543282"}
          25%
        %dl
          %dt Transfer rate:
          %dd 452KB/s
          %dt Local filename:
          %dd /home/rpausch/raycd.m4v
          %dt Remote filename:
          %dd /var/www/lectures/raycd.m4v
          %dt Duration:
          %dd 01:16:27
          %dt Color profile:
          %dd SD (6-1-6)
          %dt Dimensions:
          %dd 320×240
  .markup
    %details
      %summary
        %label{:for => "fn"} Name & Extension:
      %p
        %input#fn{:name => "fn", :type => "text", :value => "Pillar Magazine.pdf"}
          %p
            %label
              %input{:checked => "", :name => "ext", :type => "checkbox"} Hide extension
