%div#em.element
  %h2.element-title
    em
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-em-element"} em
    element
    %a{:href => "http://developers.whatwg.org/text-level-semantics.html#represents"} represents
    stress
    emphasis of its contents.
  .markup
    %p
      %em Cats
      are cute animals.
