%article#hgroup.element
  %h2.element-title
    hgroup
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/sections.html#the-hgroup-element"} hgroup
    element
    %a{:href => "http://developers.whatwg.org/sections.html#represents"} represents
    the heading of a section. The element is used to group a set of
    = succeed "\u{2013}" do
      %code
        %a{:href => "http://developers.whatwg.org/sections.html#the-h1,-h2,-h3,-h4,-h5,-and-h6-elements"} h1
    %code
      %a{:href => "http://developers.whatwg.org/sections.html#the-h1,-h2,-h3,-h4,-h5,-and-h6-elements"} h6
    elements when the heading has multiple levels, such as subheadings, alternative titles, or taglines.
  .markup
    %hgroup
      %h1 Dr. Strangelove
      %h2 Or: How I Learned to Stop Worrying and Love the Bomb
