%article#hr.element
  %h2.element-title
    %a{:href => "http://developers.whatwg.org/grouping-content.html#the-hr-element"} hr
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/grouping-content.html#the-hr-element"} hr
    element
    %a{:href => "http://developers.whatwg.org/grouping-content.html#represents"} represents
    a
    = succeed "-level" do
      %a{:href => "content-models.html#paragraph"} paragraph
    thematic break, e.g. a scene change in a story, or a transition to another topic within a section of a reference book.
  .markup
    %section
      %h1 Communication
      %p
        There are various methods of communication. This section
        covers a few of the important ones used by the project.
      %hr
        %p
          Communication stones seem to come in pairs and have mysterious
          properties:
        %ul
          %li
            They can transfer thoughts in two directions once activated
            if used alone.
          %li
            If used with another device, they can transfer one's
            consciousness to another body.
          %li
            If both stones are used with another device, the
            consciousnesses switch bodies.
        %hr
          %p
            Radios use the electromagnetic spectrum in the meter range and
            longer.
          %hr
            %p
              Signal flares use the electromagnetic spectrum in the
              nanometer range.
  .markup
    %section
      %h1 Food
      %p All food at the project is rationed:
      %dl
        %dt Potatoes
        %dd Two per day
        %dt Soup
        %dd One bowl per day
      %hr
        %p Cooking is done by the chefs on a set rotation.