%div#q.element
  %h2.element-title
    q
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-q-element"} q
    element
    %a{:href => "http://developers.whatwg.org/text-level-semantics.html#represents"} represents
    some
    %a{:href => "content-models.html#phrasing-content", :title => "phrasing content"} phrasing content
    quoted from another
    source.
  .markup
    %p
      The man said
      = succeed "." do
        %q
          Things that are impossible just take
          longer
      I disagreed with him.
  .markup
    %p
      The W3C page
      %cite About W3C
      says the W3C's
      mission is
      = succeed "." do
        %q{:cite => "http://www.w3.org/Consortium/"}
          To lead the
          World Wide Web to its full potential by developing protocols and
          guidelines that ensure long-term growth for the Web
      I
      disagree with this mission.
