%article#sample-tables.element
  %h2.element-title Sample Tables
  .markup
    %table
      %caption
        Specification values:
        = succeed "," do
          %b Steel
        = succeed "," do
          %b Castings
        Ann. A.S.T.M. A27-16, Class B;* P max. 0.06; S max. 0.05.
      %thead
        %tr
          %th{:rowspan => "2"} Grade.
          %th{:rowspan => "2"} Yield Point.
          %th{:colspan => "2"} Ultimate tensile strength
          %th{:rowspan => "2"} Per cent elong. 50.8mm or 2 in.
          %th{:rowspan => "2"} Per cent reduct. area.
        %tr
          %th
            kg/mm
            %sup 2
          %th
            lb/in
            %sup 2
      %tbody
        %tr
          %td Hard
          %td 0.45 ultimate
          %td 56.2
          %td 80,000
          %td 15
          %td 20
        %tr
          %td Medium
          %td 0.45 ultimate
          %td 49.2
          %td 70,000
          %td 18
          %td 25
        %tr
          %td Soft
          %td 0.45 ultimate
          %td 42.2
          %td 60,000
          %td 22
          %td 30
  .markup
    %table
      %thead
        %tr
          %th
            %th
              2008
              %th
                2007
                %th
                  2006
                  %tbody
                    %tr
                      %th
                        Net sales
                        %td
                          $ 32,479
                          %td
                            $ 24,006
                            %td
                              $ 19,315
                              %tr
                                %th
                                  Cost of sales
                                  %td
                                    21,334
                                    %td
                                      15,852
                                      %td
                                        13,717
                                        %tbody
                                          %tr
                                            %th
                                              Gross margin
                                              %td
                                                $ 11,145
                                                %td
                                                  $  8,154
                                                  %td
                                                    $  5,598
                                                    %tfoot
                                                      %tr
                                                        %th
                                                          Gross margin percentage
                                                          %td
                                                            34.3%
                                                            %td
                                                              34.0%
                                                              %td
                                                                29.0%
  .markup
    %table
      %colgroup
        %col
          %colgroup
            %col
              %col
                %col
                  %thead
                    %tr
                      %th
                        %th
                          2008
                          %th
                            2007
                            %th
                              2006
                              %tbody
                                %tr
                                  %th{:scope => "rowgroup"}
                                    Research and development
                                    %td
                                      $ 1,109
                                      %td
                                        $ 782
                                        %td
                                          $ 712
                                          %tr
                                            %th{:scope => "row"}
                                              Percentage of net sales
                                              %td
                                                3.4%
                                                %td
                                                  3.3%
                                                  %td
                                                    3.7%
                                                    %tbody
                                                      %tr
                                                        %th{:scope => "rowgroup"}
                                                          Selling, general, and administrative
                                                          %td
                                                            $ 3,761
                                                            %td
                                                              $ 2,963
                                                              %td
                                                                $ 2,433
                                                                %tr
                                                                  %th{:scope => "row"}
                                                                    Percentage of net sales
                                                                    %td
                                                                      11.6%
                                                                      %td
                                                                        12.3%
                                                                        %td
                                                                          12.6%