%div#section.element
  %h2.element-title
    Section
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/sections.html#the-section-element"} section
    element
    %a{:href => "http://developers.whatwg.org/sections.html#represents"} represents
    a generic section of a document or application. A section, in this context, is a thematic grouping of content, typically with a heading.
  .markup
    %section
      %h1 Red Delicious
      %p
        These bright red apples are the most common found in many
        supermarkets.
    %section
      %h1 Granny Smith
      %p
        These juicy, green apples make a great filling for
        apple pies.
