//////////////////////////////
// STYLES FOR THE KIT, ITSELF
//////////////////////////////

// ✔ IMPORT COMMON FUNCTIONS AND VARIABLES
@import "survivalkit/functions/all";
@import "survivalkit/variables/all";

// ✔ 1. ADD YOUR OWN VARIABLES
@import "partials/01-variables/all";

// ✔ IMPORT COMPASS AND OTHER GEMS
@import "compass";

// ✔ IMPORT COMMON MIXINS
@import "survivalkit/mixins/all";
@import "survivalkit/reset/pixel-normalize";

// ✔ IMPORT COMMON HELPER EXTENDABLES
@import "survivalkit/extend/helpers";

// ✔ ADD A CSS RESET OR NORMALIZATION
// @import "survivalkit/reset/reset";

// ✔ 2. ADD YOUR OWN EXTENDABLES
@import "partials/03-extend/all";

// -- ✔ 8. STYLE TILE DESIGN --
@import "survivalkit/style-tile/all";
@import "partials/07-styletile/tile-design";

@import "survivalkit/survival-kit/survival-kit";
