%div#block-el.element
  %h2.element-title Nested Menu
  .markup
    %ul.nested-menu
      %li
        %a{:href => "/"} Lorem
        %ul
          %li
            %a{:href => "/"} consectetuer
          %li
            %a{:href => "/"} adipiscing
          %li
            %a{:href => "/"} elit.
      %li
        %a{:href => "/"} ipsum
        %ul
          %li
            %a{:href => "/"} consectetuer
          %li
            %a{:href => "/"} adipiscing
          %li
            %a{:href => "/"} elit.
      %li
        %a{:href => "/"} dolor
        %ul
          %li
            %a{:href => "/"} consectetuer
          %li
            %a{:href => "/"} adipiscing
          %li
            %a{:href => "/"} elit.
      %li
        %a{:href => "/"} sit
        %ul
          %li
            %a{:href => "/"} consectetuer
          %li
            %a{:href => "/"} adipiscing
          %li
            %a{:href => "/"} elit.
      %li
        %a{:href => "/"} amet
        %ul
          %li
            %a{:href => "/"} consectetuer
          %li
            %a{:href => "/"} adipiscing
          %li
            %a{:href => "/"} elit.
