- @title = "Serve Bootstrap"

.content
  %h1= @title

  :markdown
    Serve bootstrap is a "bootstrapping" project for [Serve](https://github.com/jlong/serve) to do rapid design protyping using:
  
    * [Haml](http://haml-lang.com/) - Version 3.1.1
    * [Sass](http://sass-lang.com/) - Version 3.1.1
    * [Compass](http://beta.compass-style.org/) - Version 0.11.1
    * [jQuery](http://jquery.com/) - Version 1.5
    
    [Fork this project on GitHub!](https://github.com/adamstac/serve-bootstrap)